parent-level/31 - b-NVafCFlUVsXRzbPbomQ - Higgins - Toggl webhook.json
{
  "workflow": {
    "id": "b-NVafCFlUVsXRzbPbomQ",
    "name": "Higgins: Toggl webhook",
    "active": true,
    "isArchived": false,
    "versionId": "1f0d6bf4-1996-4fb7-b69b-eefa69c59663",
    "activeVersionId": "1f0d6bf4-1996-4fb7-b69b-eefa69c59663",
    "triggerCount": 1,
    "createdAt": "2026-02-26T18:39:26.87Z",
    "updatedAt": "2026-04-03T16:12:07.721Z",
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true
    },
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Call 'Higgins: Toggl management'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Higgins: Toggl management'": {
        "main": [
          [
            {
              "node": "Call 'Higgins: _Defaults'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Higgins: _Defaults'": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodes": [
      {
        "parameters": {
          "path": "higgins/job/toggl",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "cc349760-ac81-466d-96db-7d690347bbdb",
        "name": "Webhook",
        "webhookId": "afa3abb8-eb8f-4218-9fb7-6df7b0bca462"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "nK0Ip5JROtLN093u",
            "mode": "list",
            "cachedResultUrl": "/workflow/nK0Ip5JROtLN093u",
            "cachedResultName": "WfD Shared Project — Higgins: Toggl management"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "JobNumber": "={{ $json.query.number }}",
              "action": "={{ $json.query.action }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "JobNumber",
                "displayName": "JobNumber",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          208,
          0
        ],
        "id": "85e174d7-d071-41ea-8d97-873a015127c5",
        "name": "Call 'Higgins: Toggl management'"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.html }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          624,
          0
        ],
        "id": "cb7cd71b-3370-4ce2-8e00-4ffe123daa6e",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "RgFuxYHwCa6cNZTQ",
            "mode": "list",
            "cachedResultUrl": "/workflow/RgFuxYHwCa6cNZTQ",
            "cachedResultName": "WfD Shared Project — Higgins: _Defaults"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          416,
          0
        ],
        "id": "2e84f2f2-ad61-4fd4-99fa-9c819bff6245",
        "name": "Call 'Higgins: _Defaults'"
      }
    ],
    "activeVersion": {
      "nodes": [
        {
          "parameters": {
            "path": "higgins/job/toggl",
            "responseMode": "responseNode",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            0,
            0
          ],
          "id": "cc349760-ac81-466d-96db-7d690347bbdb",
          "name": "Webhook",
          "webhookId": "afa3abb8-eb8f-4218-9fb7-6df7b0bca462"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "nK0Ip5JROtLN093u",
              "mode": "list",
              "cachedResultUrl": "/workflow/nK0Ip5JROtLN093u",
              "cachedResultName": "WfD Shared Project — Higgins: Toggl management"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "JobNumber": "={{ $json.query.number }}",
                "action": "={{ $json.query.action }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "JobNumber",
                  "displayName": "JobNumber",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "action",
                  "displayName": "action",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            208,
            0
          ],
          "id": "85e174d7-d071-41ea-8d97-873a015127c5",
          "name": "Call 'Higgins: Toggl management'"
        },
        {
          "parameters": {
            "respondWith": "text",
            "responseBody": "={{ $json.html }}",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            624,
            0
          ],
          "id": "cb7cd71b-3370-4ce2-8e00-4ffe123daa6e",
          "name": "Respond to Webhook"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "RgFuxYHwCa6cNZTQ",
              "mode": "list",
              "cachedResultUrl": "/workflow/RgFuxYHwCa6cNZTQ",
              "cachedResultName": "WfD Shared Project — Higgins: _Defaults"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            416,
            0
          ],
          "id": "2e84f2f2-ad61-4fd4-99fa-9c819bff6245",
          "name": "Call 'Higgins: _Defaults'"
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Call 'Higgins: Toggl management'",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Call 'Higgins: Toggl management'": {
          "main": [
            [
              {
                "node": "Call 'Higgins: _Defaults'",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Call 'Higgins: _Defaults'": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "tags": [],
    "meta": null,
    "parentFolderId": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:publish",
      "workflow:read",
      "workflow:share",
      "workflow:unpublish",
      "workflow:unshare",
      "workflow:update",
      "workflow:updateRedactionSetting"
    ],
    "canExecute": true
  },
  "triggerInfo": "This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Webhook\n\t\t\t\t\t - Base URL: https://drflow.app.n8n.cloud/\n\t\t\t\t\t - Production path: /webhook/higgins/job/toggl\n\t\t\t\t\t - Test path: /webhook-test/higgins/job/toggl\n\t\t\t\t\t - HTTP Method: GET\n\t\t\t\t\t - Response Mode: Webhook is configured to respond using \"Respond to Webhook\" node.\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"
}
