parent-level/33 - OKAvMTznsWUq9JhZ - Higgins 02 - Job edit - VJ.json
{
  "name": "Higgins 02 - Job edit - VJ",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "n8n-workflow-id",
                "value": "={{ $workflow.id }}"
              }
            ]
          }
        }
      },
      "id": "61b1172d-530e-4e0d-941e-371f2f659606",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2752,
        -1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r9O1tzOL1ON1rxGD",
          "mode": "list",
          "cachedResultUrl": "/workflow/r9O1tzOL1ON1rxGD",
          "cachedResultName": "WfD Shared Project — Higgins: Postcode lookup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "postcode": "={{ $json.job.Postcode }}"
          },
          "matchingColumns": [
            "postcode"
          ],
          "schema": [
            {
              "id": "postcode",
              "displayName": "postcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1856,
        -2240
      ],
      "id": "6c28c9b8-db4e-4fc0-8fd8-e2a04f51211f",
      "name": "Call 'Higgins: Postcode lookup'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.task }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0bf27f33-1b3f-4709-bf7a-6976d39b4ad7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONFIRM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8e413eb9-ed69-4634-9a0e-4481d5d7c495",
                    "leftValue": "={{ $json.query.task }}",
                    "rightValue": "quote",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "QUOTE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cd30c92b-900c-43a8-a06e-42c25b1e9cab",
                    "leftValue": "={{ $json.query.task }}",
                    "rightValue": "completion_input",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETE"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1632,
        -1888
      ],
      "id": "2877c41b-b71f-4b5b-83e4-6e3374ab07fd",
      "name": "Switch Content Gen"
    },
    {
      "parameters": {
        "html": "<!-- #pageTitle 'Job #{{ $json.job.JobNumber }}\n\t\t\t\t<span class=\"badge badge-secondary\">\n\t\t\t\t\t{{ $json.job.Status ?? 'New' }}\n\t\t\t\t</span>' -->\n\n<form action=\"\" method=\"POST\">\n    <fieldset {{ (($json.query && $json.query.method) || '' )==='POST' ? 'disabled' : '' }}>\n        <input type=\"hidden\" name=\"job_old\" value=\"{{ JSON.stringify($json.job) }}\" />\n        <input type=\"hidden\" name=\"job.JobNumber\" value=\"{{ $json.job.JobNumber }}\" />\n        <input type=\"hidden\" name=\"job.ID\" value=\"{{ $json.job.ID ?? $json.job.id }}\" />\n        <input type=\"hidden\" name=\"FormType\" value=\"job\" />\n        <input type=\"hidden\" name=\"transition.Event\" value=\"{{ ({ confirm: 'human_confirm_submitted', quote: 'quote_form_reviewed', completion_input: 'job_completion_reviewed' })[$json.query?.task] ?? 'job_form_submitted' }}\" />\n        <input type=\"hidden\" name=\"transition.Actor\" value=\"human\" />\n        <input type=\"hidden\" name=\"transition.CurrentStatus\" value=\"{{ $json.job.Status ?? 'New' }}\" />\n        <input type=\"hidden\" name=\"transition.SourceFlow\" value=\"Higgins 02 - Job edit\" />\n        <input type=\"hidden\" name=\"transition.TableName\" value=\"higgins_status_transitions\" />\n        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"alert alert-warning\" role=\"alert\">\n                    <h2>\n                        {{\n                        (($json.query && $json.query.method) || '') === 'POST'\n                        ? 'Your changes have been saved <small class=\"text-muted\">and the form has been locked</small>'\n                        : 'Please review the job <small class=\"text-muted\">and make changes where required</small>'\n                        }}\n                    </h2>\n                </div>\n                {{ ($json.query?.task || '') === 'confirm' ? '<div class=\"alert alert-secondary\" role=\"alert\"><strong>Proposed status model:</strong> this form should emit <code>human_confirm_submitted</code> and let the shared transition table resolve <code>Confirmed</code>, followed by the bot branch into <code>Confirmed-PWQ</code>, <code>Confirmed-PWB</code>, or <code>Confirmed-PNL</code>.</div>' : '' }}\n                <div class=\"alert alert-info\" role=\"alert\">{{ $json.job.Description}}</div>\n            </div>\n        </div>\n        <div class=\"row mt-5\">\n            <div class=\"col-12\">\n                <h2>Location</h2>\n            </div>\n        </div>\n        <div class=\"row\">\n            <div class=\"col-6\">\n                <input type=\"hidden\" id=\"addressLine1\" name=\"job.AddressLine1\" value=\"{{ $json.job.AddressLine1 }}\" />\n                <div class=\"form-group\">\n                    <label for=\"address\" data-toggle=\"tooltip\" data-placement=\"top\"\n                        title=\"{{ $json.job.AddressLine1 }}\">Address</label>\n                    <input id=\"address\" name=\"job.Address\" type=\"text\" class=\"form-control\"\n                        value=\"{{ $json.job.Address }}\" readonly>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"postcode\">Postcode</label>\n                    <input id=\"postcode\" name=\"job.Postcode\" type=\"text\" class=\"form-control\"\n                        value=\"{{ $json.job.Postcode }}\" readonly>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"addressPaf\">Addresses match</label>\n                    <select id=\"addressPaf\" class=\"form-control\">\n                        <option selected=\"true\"></option>\n                    </select>\n                    <div id=\"addressPafWarning\" class=\"form-text text-danger d-none\">\n                        Please select an address match if possible (you can still save if none apply).\n                    </div>\n                    <input type=\"hidden\" id=\"addressPafExisting\" value=\"{{ $json.job.AddressPaf ?? '' }}\" />\n                    <input type=\"hidden\" id=\"jobAddressPaf\" name=\"job.AddressPaf\"\n                        value=\"{{ $json.job.AddressPaf ?? '' }}\" />\n                    <input type=\"hidden\" id=\"jobAddressLatLong\" name=\"job.AddressLatLong\"\n                        value=\"{{ $json.job.AddressLatLong ?? '' }}\" />\n                    <textarea id=\"addressDataJson\" class=\"hidden\">{{ JSON.stringify($json.address_suggestions) }}</textarea>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"contact\">Contact</label>\n                    <input id=\"contact\" name=\"job.ContactForAccess\" type=\"text\" class=\"form-control\"\n                        value=\"{{ $json.job.ContactForAccess }}\">\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"contactNumber\">Best contact number</label>\n                    <select id=\"contactNumber\" name=\"job.ContactNumber\" class=\"form-control\">\n                        <option selected=\"true\"></option>\n                    </select>\n                    <input type=\"hidden\" id=\"job.ContactNumberForAccess\" value=\"{{ $json.job.ContactNumber ?? '' }}\" />\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"contact\">Key number</label>\n                    <input id=\"contact\" name=\"job.KeyNum\" type=\"text\" class=\"form-control\"\n                        value=\"{{ $json.job.KeyNum ?? '' }}\">\n                </div>\n            </div>\n            <div class=\"col-6\">\n                <iframe style=\"width: 100%; height: 100%; min-height: 300px\"\n                    class=\"embed-responsive-item border border-light rounded\"\n                    src=\"https://www.google.com/maps/embed/v1/search?q={{ encodeURIComponent($json.job.AddressLatLong ?? ($json.job.Postcode + ' UK')) }}&amp;key={{ $json.n8n_defaults.google_cloud.MapsApiKey }}\"></iframe>\n            </div>\n        </div>\n        <div class=\"row mt-5\">\n            <div class=\"col-12\">\n                <h2>Details</h2>\n            </div>\n        </div>\n        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"form-group\">\n                    <label>Description</label>\n                    <textarea id=\"description\" name=\"job.Description\" type=\"textarea\" class=\"form-control\"\n                        style=\"min-height: 100px; overflow-y: scroll;\"\n                        placeholder=\"\">{{ $json.job.Description }}</textarea>\n                </div>\n            </div>\n        </div>\n        <div class=\"row\">\n            <!-- Priority-->\n            <div class=\"col-4\">\n                <fieldset class=\"border rounded p-3 mb-4\">\n                    <legend class=\"float-none w-auto mb-0 px-2 fs-6 fw-semibold\" data-toggle=\"tooltip\"\n                        data-placement=\"top\" title=\"{{ $json.job.Priority }}\">\n                        Priority\n                    </legend>\n                    <input type=\"hidden\" id=\"priority\"\n                        value=\"{{ $json.job.Priority ?? $json.n8n_defaults.DefaultPriority }}\" /> {{\n                    $json.n8n_defaults.PriorityTags.map(tag => `\n                    <div class=\"form-check\">\n                        <input class=\"form-check-input\" type=\"radio\" value=\"${tag}\" id=\"radioPriority${tag}\"\n                            name=\"job.Priority\" />\n                        <label class=\"form-check-label\" for=\"radioPriority${tag}\">\n                            ${tag}\n                        </label>\n                    </div>\n                    `).join('') }}\n                    <div class=\"form-check mt-3\">\n                        <input class=\"form-check-input\" type=\"checkbox\" id=\"PreApproved\" name=\"job.PreApproved\"\n                            value=\"{{ $json.job.PreApproved ??'' }}\" />\n                        <label class=\"form-check-label fw-semibold\" for=\"PreApproved\">\n                            Pre-Approved\n                        </label>\n                    </div>\n                  Required date here\n                </fieldset>\n            </div>\n            <!-- Action -->\n            <div class=\"col-4\">\n                <fieldset class=\"border rounded p-3 mb-4\">\n                  <legend class=\"float-none w-auto mb-0 px-2 fs-6 fw-semibold\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"{{ $json.job.Action }}\"> Action </legend>\n                  <input type=\"hidden\" id=\"action\" value=\"{{ $json.job.Action }}\" /> {{\n                  $json.n8n_defaults.ActionTags.map(tag => `\n                  <div class=\"form-check\">\n                      <input class=\"form-check-input\" type=\"radio\" value=\"${tag}\" id=\"radioAction${tag}\"\n                          name=\"job.Action\" />\n                      <label class=\"form-check-label\" for=\"radioAction${tag}\">\n                          ${tag}\n                      </label>\n                  </div>\n                  `).join('') }}\n                  {{ (($json.job.Action ?? '').includes(',')) ? `\n                    <div class=\"alert alert-warning py-2 mt-2 mb-0\" role=\"alert\">\n                      Input is '${$json.job.Action}'. Please choose the next action.\n                    </div>\n                    ` : '' }}\n                  <div id=\"soleQuoteSection\" class=\"mt-3 d-none\">\n                    <div class=\"form-check\">\n                      <input\n                        class=\"form-check-input\"\n                        type=\"radio\"\n                        id=\"jobSoleQuoteTrue\"\n                        name=\"job.SoleQuote\"\n                        value=\"true\"\n                        {{ $json.job.SoleQuote === true ? 'checked' : '' }}\n                      />\n                      <label class=\"form-check-label fw-semibold\" for=\"jobSoleQuoteTrue\">\n                        Sole Quote\n                      </label>\n                    </div>\n                  \n                    <div class=\"form-check\">\n                      <input\n                        class=\"form-check-input\"\n                        type=\"radio\"\n                        id=\"jobSoleQuoteFalse\"\n                        name=\"job.SoleQuote\"\n                        value=\"false\"\n                        {{ $json.job.SoleQuote === false ? 'checked' : '' }}\n                      />\n                      <label class=\"form-check-label fw-semibold\" for=\"jobSoleQuoteFalse\">\n                        Competitive Quote\n                      </label>\n                    </div>\n                  \n                    <div id=\"soleQuoteWarning\" class=\"alert alert-danger d-none\" role=\"alert\">\n                      Please quote type.\n                    </div>\n                  </div>\n                </fieldset>\n            </div>\n            <!-- Tags -->\n            <div class=\"col-4\">\n                <fieldset class=\"border rounded p-3 mb-4\">\n                    <legend class=\"float-none w-auto mb-0 px-2 fs-6 fw-semibold\" data-toggle=\"tooltip\"\n                        data-placement=\"top\" title=\"{{ $json.job.Tags }}\">\n                        Tags\n                    </legend>\n                    <input type=\"hidden\" id=\"tags\" value=\"{{ $json.job.Tags }}\" /> {{ \n                    $json.n8n_defaults.JobTags.map(tag => `\n                    <div class=\"form-check\">\n                        <input class=\"form-check-input\" type=\"checkbox\" value=\"${tag}\" id=\"chkTag${tag}\"\n                            name=\"job.Tags\" />\n                        <label class=\"form-check-label\" for=\"chkTag${tag}\">\n                            ${tag}\n                        </label>\n                    </div>\n                    `).join('') }}\n                </fieldset>\n            </div>\n        </div>\n        <div class=\"row mb-5\">\n            <button type=\"submit\" class=\"btn btn-primary\">Save Changes</button>\n        </div>\n    </fieldset>\n</form>\n\n{{ $json.modulesHtml ?? '' }}\n\n<script>\n    // -----------------------------\n    // Contact numbers -> dropdown\n    // -----------------------------\n    function populateContactNumbers(inputText) {\n        const selectId = \"contactNumber\";\n        const minDigits = 10;\n        const phoneRegex = /(?<!\\d)(\\+?\\d(?:[\\s().-]*\\d){9,14})(?!\\d)/g;\n\n        if (!inputText) return;\n\n        const matches = [...inputText.matchAll(phoneRegex)].map(m => m[1]);\n\n        const numbers = [...new Set(\n            matches\n                .map(n => n.replace(/[^\\d+]/g, \"\"))\n                .filter(n => n.length >= minDigits)\n        )];\n\n        const select = document.getElementById(selectId);\n        if (!select || numbers.length === 0) return;\n\n        select.innerHTML = \"\";\n\n        if (numbers.length > 1) {\n            const blank = document.createElement(\"option\");\n            blank.value = \"\";\n            blank.textContent = \"Select a number\";\n            blank.selected = true;\n            select.appendChild(blank);\n        }\n\n        numbers.forEach(num => {\n            const option = document.createElement(\"option\");\n            option.value = num;\n            option.textContent = num;\n            select.appendChild(option);\n        });\n\n        if (numbers.length === 1) {\n            select.value = numbers[0];\n            select.dispatchEvent(new Event(\"change\", { bubbles: true }));\n        }\n    }\n\n    // ---------------------------------------\n    // Address suggestions -> dropdown\n    // Option value format: \"<paf>;<lat,long>\"\n    // - If lat/long missing: value is just \"<paf>\"\n    // Also sync hidden fields:\n    // - #jobAddressPaf (name=\"job.AddressPaf\")\n    // - #jobAddressLatLong (name=\"job.AddressLatLong\")\n    // NOTE: source JSON uses \"longtitude\" (spelling per payload)\n    // ---------------------------------------\n    function syncAddressHiddenFieldsFromSelect() {\n        const select = document.getElementById(\"addressPaf\");\n        const pafHidden = document.getElementById(\"jobAddressPaf\");\n        const latLongHidden = document.getElementById(\"jobAddressLatLong\");\n        if (!select || !pafHidden || !latLongHidden) return;\n\n        const raw = (select.value ?? \"\").trim();\n        if (!raw) {\n            pafHidden.value = \"\";\n            latLongHidden.value = \"\";\n            return;\n        }\n\n        const parts = raw.split(\";\", 2);\n        pafHidden.value = (parts[0] ?? \"\").trim();\n        latLongHidden.value = (parts[1] ?? \"\").trim(); // \"lat,long\" or \"\"\n\n    }\n\n    function populateAddressSelect(inputJson, existingLine1, existingPaf, existingLatLong) {\n        const select = document.getElementById(\"addressPaf\");\n        if (!select || !inputJson) return;\n\n        let addresses;\n        try {\n            addresses = JSON.parse(inputJson);\n        } catch (e) {\n            console.error(\"Invalid address JSON\", e);\n            return;\n        }\n\n        if (!Array.isArray(addresses) || addresses.length === 0) return;\n\n        const normalise = s => (s ?? \"\").toLowerCase().replace(/\\s+/g, \" \").trim();\n\n        const targetLine1 = normalise(existingLine1);\n        const targetPaf = (existingPaf ?? \"\").toString().trim();\n        const targetLatLong = (existingLatLong ?? \"\").toString().trim(); // \"lat,long\"\n\n        select.innerHTML = \"\";\n        let matched = false;\n\n        if (addresses.length > 1) {\n            const blank = document.createElement(\"option\");\n            blank.value = \"\";\n            blank.textContent = \"— Select an address —\";\n            blank.disabled = false;\n            blank.selected = true;\n            select.appendChild(blank);\n        }\n\n        addresses.forEach(item => {\n            if (!item?.line_1 || !item?.id) return;\n\n            const paf = String(item.id);\n\n            // payload uses latitude + longtitude (sic)\n            const hasLatLong =\n                item.latitude != null && String(item.latitude).trim() !== \"\" &&\n                item.longitude != null && String(item.longitude).trim() !== \"\";\n\n            const latLong = hasLatLong ? `${item.latitude},${item.longitude}` : \"\";\n            const combinedValue = hasLatLong ? `${paf};${latLong}` : paf;\n\n            const option = document.createElement(\"option\");\n            option.value = combinedValue;\n            option.textContent = `${item.line_1}${item.premise ? ` (${item.premise})` : \"\"}`;\n\n            // Prefer exact match on saved PAF + LatLong when both exist\n            if (targetPaf) {\n                if (hasLatLong && targetLatLong && targetPaf === paf && targetLatLong === latLong) {\n                    option.selected = true;\n                    matched = true;\n                } else if (!targetLatLong && targetPaf === paf) {\n                    // Saved PAF only (no saved lat/long)\n                    option.selected = true;\n                    matched = true;\n                }\n            }\n            // Fall back to AddressLine1 match\n            else if (targetLine1 && targetLine1.startsWith(normalise(item.line_1))) {\n                option.selected = true;\n                matched = true;\n            }\n\n            select.appendChild(option);\n        });\n\n        if (matched && select.options[0]?.value === \"\") {\n            select.options[0].selected = false;\n        }\n\n        // Ensure hidden fields reflect current selection after population\n        syncAddressHiddenFieldsFromSelect();\n    }\n\n    // -----------------------------\n    // Checkbox / radio population\n    // -----------------------------\n    function populateCheckboxGroup(inputText, fieldPrefix) {\n        if (!inputText) return;\n\n        const values = inputText.split(/[,;]+/).map(t => t.trim()).filter(Boolean);\n\n        values.forEach(value => {\n            const checkboxId = fieldPrefix + value.replace(/\\s+/g, \"\");\n            const checkbox = document.getElementById(checkboxId);\n            if (checkbox) checkbox.checked = true;\n        });\n    }\n\n    function populateRadio(inputText, fieldPrefix, values) {\n        if (!inputText || !Array.isArray(values) || values.length === 0) return null;\n    \n        const incomingValues = String(inputText)\n            .split(/[,;]+/)\n            .map(v => v.trim())\n            .filter(Boolean);\n    \n        const matchedValue = incomingValues.find(v => values.includes(v));\n        if (!matchedValue) return null;\n    \n        const fieldId = fieldPrefix + matchedValue.replace(/\\s+/g, \"\");\n        const field = document.getElementById(fieldId);\n    \n        if (field) {\n            field.checked = true;\n            return matchedValue;\n        }\n    \n        return null;\n    }\n\n    // -----------------------------\n    // AddressPaf UI validation\n    // - highlight if empty\n    // - warn on submit (do not block)\n    // -----------------------------\n    function updateAddressPafUI() {\n        const select = document.getElementById(\"addressPaf\");\n        const warning = document.getElementById(\"addressPafWarning\");\n        if (!select) return true;\n\n        const hasValue = !!(select.value && String(select.value).trim().length > 0);\n\n        select.classList.toggle(\"is-invalid\", !hasValue);\n\n        if (warning) warning.classList.toggle(\"d-none\", hasValue);\n\n        return hasValue;\n    }\n\n    function isActionQuoteSelected() {\n      const selected = document.querySelector('input[name=\"job.Action\"]:checked');\n      return (selected?.value ?? \"\") === \"Quote\";\n    }\n    \n    function updateSoleQuoteVisibilityAndRequirement() {\n      const section = document.getElementById(\"soleQuoteSection\");\n      const warning = document.getElementById(\"soleQuoteWarning\");\n      const radios = document.querySelectorAll('input[name=\"job.SoleQuote\"]');\n      const requiredAnchor = document.getElementById(\"jobSoleQuoteTrue\"); // any one radio is enough\n    \n      const shouldShow = isActionQuoteSelected();\n    \n      if (section) section.classList.toggle(\"d-none\", !shouldShow);\n    \n      // Only require SoleQuote when Action=Quote\n      if (requiredAnchor) {\n        if (shouldShow) requiredAnchor.setAttribute(\"required\", \"required\");\n        else requiredAnchor.removeAttribute(\"required\");\n      }\n    \n      // If hiding, clear selection + clear UI warning/invalid state\n      if (!shouldShow) {\n        radios.forEach(r => {\n          r.checked = false;\n          r.classList.remove(\"is-invalid\");\n        });\n        if (warning) warning.classList.add(\"d-none\");\n      }\n    }\n\n    // -----------------------------\n    // SoleQuote validation (block submit)\n    // -----------------------------\n    function validateSoleQuoteUI() {\n      // Only validate when Action=Quote\n      if (!isActionQuoteSelected()) return true;\n    \n      const selected = document.querySelector('input[name=\"job.SoleQuote\"]:checked');\n      const warning = document.getElementById(\"soleQuoteWarning\");\n    \n      const ok = !!selected;\n      if (warning) warning.classList.toggle(\"d-none\", ok);\n    \n      const radios = document.querySelectorAll('input[name=\"job.SoleQuote\"]');\n      radios.forEach(r => r.classList.toggle(\"is-invalid\", !ok));\n    \n      return ok;\n    }\n  \n    // -----------------------------\n    // DOM Ready wiring\n    // -----------------------------\n    document.addEventListener(\"DOMContentLoaded\", () => {\n        // Contact numbers\n        const contactInput = document.getElementById(\"contact\");\n        if (contactInput) {\n            contactInput.addEventListener(\"change\", e => {\n                populateContactNumbers(e.target.value || \"\");\n            });\n            populateContactNumbers(contactInput.value || \"\");\n        }\n\n        // Address select (populate + select existing + sync hidden fields)\n        const addressJson = document.getElementById(\"addressDataJson\");\n        const existingLine1 = document.getElementById(\"addressLine1\");\n        const existingPafHidden = document.getElementById(\"jobAddressPaf\");\n        const existingLatLongHidden = document.getElementById(\"jobAddressLatLong\");\n\n        if (addressJson) {\n            populateAddressSelect(\n                addressJson.value || \"\",\n                existingLine1?.value || \"\",\n                existingPafHidden?.value || \"\",\n                existingLatLongHidden?.value || \"\"\n            );\n        }\n\n        // Keep hidden fields synced + validate on change\n        const addressSelect = document.getElementById(\"addressPaf\");\n        if (addressSelect) {\n            addressSelect.addEventListener(\"change\", () => {\n                syncAddressHiddenFieldsFromSelect();\n                updateAddressPafUI();\n            });\n            updateAddressPafUI();\n\n            // Warn on submit (do not block save)\n            const form = addressSelect.closest(\"form\");\n            if (form) {\n              form.addEventListener(\"submit\", (e) => {\n                const okAddress = updateAddressPafUI();\n                syncAddressHiddenFieldsFromSelect();\n              \n                const okSoleQuote = validateSoleQuoteUI();\n                if (!okSoleQuote) {\n                  e.preventDefault();\n                  alert(\"Please select Sole Quote or Competitive Quote.\");\n                  return;\n                }\n              \n                if (!okAddress) {\n                  alert(\"Address match is missing. If no option applies, you can still save, but please confirm.\");\n                }\n              });\n            }\n        }\n\n        // Tags\n        const tagsField = document.getElementById(\"tags\");\n        if (tagsField) populateCheckboxGroup(tagsField.value || \"\", \"chkTag\");\n\n        // Priority radios\n        const priorityField = document.getElementById(\"priority\");\n        if (priorityField) populateRadio(\n            priorityField.value || \"\",\n            \"radioPriority\",\n            \"{{ $json.n8n_defaults.PriorityTags }}\".split(/[,;]+/).map(s => s.trim()).filter(Boolean)\n        );\n\n        // Action radios\n        const actionField = document.getElementById(\"action\");\n        if (actionField) populateRadio(\n            actionField.value || \"\",\n            \"radioAction\",\n            \"{{ $json.n8n_defaults.ActionTags }}\".split(/[,;]+/).map(s => s.trim()).filter(Boolean)\n        );\n      \n        // Show/hide SoleQuote section when Action changes\n        document.querySelectorAll('input[name=\"job.Action\"]').forEach(r => {\n          r.addEventListener(\"change\", () => {\n            updateSoleQuoteVisibilityAndRequirement();\n            validateSoleQuoteUI(); // if Quote selected, this will show warning if empty\n          });\n        });\n        \n        // SoleQuote radios clear warning immediately when changed\n        document.querySelectorAll('input[name=\"job.SoleQuote\"]').forEach(r => {\n          r.addEventListener(\"change\", validateSoleQuoteUI);\n        });\n        \n        // Initial state on load\n        updateSoleQuoteVisibilityAndRequirement();\n        validateSoleQuoteUI();      \n    });\n</script>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2304,
        -2176
      ],
      "id": "1e09fcf0-8812-4fce-9fe7-34d8006ac0d3",
      "name": "HTML Confirm"
    },
    {
      "parameters": {
        "html": "<!-- #pageTitle 'Job #{{ $json.job.JobNumber }}\n\t\t\t\t<span class=\"badge badge-secondary\">\n\t\t\t\t\t{{ $json.job.Status ?? 'New' }}\n\t\t\t\t</span>' -->\n\n\t<form action=\"\" method=\"POST\">\n\t\t<fieldset {{ $json.query_method == 'GET' ? '' : 'disabled' }}>\n\t\t\t<input type=\"hidden\" name=\"number\" value=\"{{ $json.job.JobNumber }}\" />\n\t\t\t<input type=\"hidden\" name=\"FormType\" value=\"quote\" />\n\t\t\t<div class=\"container\">\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<div class=\"col-12\">\n\t\t\t\t\t\t<h1><button type=\"button\" class=\"btn btn-primary\">Job #{{ $json.JobNumber }}\n\t\t\t\t\t\t\t\t<span class=\"badge rounded-pill bg-danger\">{{$json.Status ??\n\t\t\t\t\t\t\t\t\t\"New\"}}</span></button>\n\t\t\t\t\t\t\t<small class=\"text-muted\">{{ $json.job.Address }},\n\t\t\t\t\t\t\t\t{{$json.Postcode}}</small>\n\t\t\t\t\t\t</h1>\n\t\t\t\t\t\t<div class=\"alert alert-warning\" role=\"alert\"><h2>{{ ($json.query_method ?? '').toUpperCase() === 'POST' \n                          ?  'Your changes have been saved <small class=\"text-muted\">and the form has been locked</small>'\n                          : 'Please review the job <small class=\"text-muted\">and make changes where required</small>' }}</h2>\n                        </div>\n\t\t\t\t\t\t<div class=\"alert alert-info\" role=\"alert\">{{$json.job.Description}}</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row mt-5\">\n\t\t\t\t\t<div class=\"col-12\">\n\t\t\t\t\t\t<h2>Location</h2>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<div class=\"col-6\">\n\t\t\t\t\t\t<input type=\"hidden\" id=\"addressLine1\" name=\"AddressLine1\"\n\t\t\t\t\t\t\tvalue=\"{{ $json.job.AddressLine1 }}\" />\n\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t<label for=\"address\" data-toggle=\"tooltip\" data-placement=\"top\"\n\t\t\t\t\t\t\t\ttitle=\"{{ $json.job.AddressLine1 }}\">Address</label>\n\t\t\t\t\t\t\t<input id=\"address\" name=\"Address\" type=\"text\" class=\"form-control\"\n\t\t\t\t\t\t\t\tvalue=\"{{ $json.job.Address }}\" readonly>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t<label for=\"postcode\">Postcode</label>\n\t\t\t\t\t\t\t<input id=\"postcode\" name=\"Postcode\" type=\"text\" class=\"form-control\"\n\t\t\t\t\t\t\t\tvalue=\"{{ $json.job.Postcode }}\" readonly>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t<label for=\"contact\">Contact</label>\n\t\t\t\t\t\t\t<input id=\"contact\" name=\"ContactForAccess\" type=\"text\" class=\"form-control\"\n\t\t\t\t\t\t\t\tvalue=\"{{ $json.job.ContactForAccess }}\">\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t<label for=\"contactNumber\">Best contact number</label>\n\t\t\t\t\t\t\t<select id=\"contactNumber\" name=\"ContactNumber\" class=\"form-control\">\n\t\t\t\t\t\t\t\t<option selected=\"true\"></option>\n\t\t\t\t\t\t\t</select>\n\t\t\t\t\t\t\t<input type=\"hidden\" id=\"contactNumberForAccess\"\n\t\t\t\t\t\t\t\tvalue=\"{{ $json.job.ContactNumber }}\" />\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"col-6\">\n\t\t\t\t\t\t<iframe style=\"width: 100%; height: 100%; min-height: 300px\"\n\t\t\t\t\t\t\tclass=\"embed-responsive-item border border-light rounded\"\n\t\t\t\t\t\t\tsrc=\"https://www.google.com/maps/embed/v1/search?q={{ encodeURIComponent($json.job.Postcode) }}%2CUK&amp;key={{ $json.n8n_defaults.google_cloud.MapsApiKey }}\"></iframe>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row mt-5\">\n\t\t\t\t\t<div class=\"col-12\">\n\t\t\t\t\t\t<h2>Details</h2>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<div class=\"col-12\">\n\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t<label>Description</label>\n\t\t\t\t\t\t\t<textarea id=\"description\" name=\"Description\" type=\"textarea\"\n\t\t\t\t\t\t\t\tclass=\"form-control border border-dark rounded\"\n\t\t\t\t\t\t\t\tstyle=\"min-height: 100px; overflow-y: scroll;\"\n\t\t\t\t\t\t\t\tplaceholder=\"\">{{ $json.Description }}</textarea>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<!-- Priority-->\n\t\t\t\t\t<div class=\"col-4\">\n\t\t\t\t\t\t<fieldset class=\"border rounded p-3 mb-4\">\n\t\t\t\t\t\t\t<legend class=\"float-none w-auto mb-0 px-2 fs-6 fw-semibold\" data-toggle=\"tooltip\"\n\t\t\t\t\t\t\t\tdata-placement=\"top\" title=\"{{ $json.job.Priority }}\">\n\t\t\t\t\t\t\t\tPriority\n\t\t\t\t\t\t\t</legend>\n\t\t\t\t\t\t\t<input type=\"hidden\" id=\"priority\"\n\t\t\t\t\t\t\t\tvalue=\"{{ $json.job.Priority ?? $json.n8n_defaults.DefaultPriority}}\" />\n\t\t\t\t\t\t\t{{\n\t\t\t\t\t\t\t$json.n8n_defaults.PriorityTags.map(tag => `\n\t\t\t\t\t\t\t<div class=\"form-check\">\n\t\t\t\t\t\t\t\t<input class=\"form-check-input\" type=\"radio\" value=\"${tag}\" id=\"radioPriority${tag}\"\n\t\t\t\t\t\t\t\t\tname=\"Priority\" />\n\t\t\t\t\t\t\t\t<label class=\"form-check-label\" for=\"radioPriority${tag}\">\n\t\t\t\t\t\t\t\t\t${tag}\n\t\t\t\t\t\t\t\t</label>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t`).join('')\n\t\t\t\t\t\t\t}}\n\n\t\t\t\t\t\t\t<div class=\"form-check mt-3\">\n\t\t\t\t\t\t\t\t<input class=\"form-check-input\" type=\"checkbox\" id=\"PreApproved\" name=\"PreApproved\"\n\t\t\t\t\t\t\t\t\tvalue=\"{{ $json.job.PreApproved }}\" />\n\t\t\t\t\t\t\t\t<label class=\"form-check-label fw-semibold\" for=\"PreApproved\">\n\t\t\t\t\t\t\t\t\tPre-Approved\n\t\t\t\t\t\t\t\t</label>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</fieldset>\n\t\t\t\t\t</div>\n\t\t\t\t\t<!-- Action -->\n\t\t\t\t\t<div class=\"col-4\">\n\t\t\t\t\t\t<fieldset class=\"border rounded p-3 mb-4\">\n\t\t\t\t\t\t\t<legend class=\"float-none w-auto mb-0 px-2 fs-6 fw-semibold\" data-toggle=\"tooltip\"\n\t\t\t\t\t\t\t\tdata-placement=\"top\" title=\"{{ $json.job.Action }}\">\n\t\t\t\t\t\t\t\tAction\n\t\t\t\t\t\t\t</legend>\n\t\t\t\t\t\t\t<input type=\"hidden\" id=\"action\" value=\"{{ $json.job.Action }}\" />\n\t\t\t\t\t\t\t{{\n\t\t\t\t\t\t\t$json.n8n_defaults.ActionTags.map(tag => `\n\t\t\t\t\t\t\t<div class=\"form-check\">\n\t\t\t\t\t\t\t\t<input class=\"form-check-input\" type=\"radio\" value=\"${tag}\" id=\"radioAction${tag}\"\n\t\t\t\t\t\t\t\t\tname=\"Action\" />\n\t\t\t\t\t\t\t\t<label class=\"form-check-label\" for=\"radioAction${tag}\">\n\t\t\t\t\t\t\t\t\t${tag}\n\t\t\t\t\t\t\t\t</label>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t`).join('')\n\t\t\t\t\t\t\t}}\n\t\t\t\t\t\t</fieldset>\n\t\t\t\t\t</div>\n\t\t\t\t\t<!-- Tags -->\n\t\t\t\t\t<div class=\"col-4\">\n\t\t\t\t\t\t<fieldset class=\"border rounded p-3 mb-4\">\n\t\t\t\t\t\t\t<legend class=\"float-none w-auto mb-0 px-2 fs-6 fw-semibold\" data-toggle=\"tooltip\"\n\t\t\t\t\t\t\t\tdata-placement=\"top\" title=\"{{ $json.Tags }}\">\n\t\t\t\t\t\t\t\tTags\n\t\t\t\t\t\t\t</legend>\n\t\t\t\t\t\t\t<input type=\"hidden\" id=\"tags\" value=\"{{ $json.job.Tags }}\" />\n\t\t\t\t\t\t\t{{\n\t\t\t\t\t\t\t$json.n8n_defaults.JobTags.map(tag => `\n\t\t\t\t\t\t\t<div class=\"form-check\">\n\t\t\t\t\t\t\t\t<input class=\"form-check-input\" type=\"checkbox\" value=\"${tag}\" id=\"chkTag${tag}\"\n\t\t\t\t\t\t\t\t\tname=\"Tags\" />\n\t\t\t\t\t\t\t\t<label class=\"form-check-label\" for=\"chkTag${tag}\">\n\t\t\t\t\t\t\t\t\t${tag}\n\t\t\t\t\t\t\t\t</label>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t`).join('')\n\t\t\t\t\t\t\t}}\n\t\t\t\t\t\t</fieldset>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row mb-5\">\n\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">Save Changes</button>\n\t\t\t\t\t<input type=\"hidden\" name=\"task\" value=\"{{ $json.query_task }}\" />\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<div class=\"col-12\">\n\t\t\t\t\t\t<h2>Schedule</h2>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<dl class=\"col-12 row\">\n\t\t\t\t\t\t<dt class=\"col-2 fw-semibold\">\n\t\t\t\t\t\t\t{\\{Technician}}\n\t\t\t\t\t\t</dt>\n\t\t\t\t\t\t<dd class=\"col-10\">\n\t\t\t\t\t\t\t{\\{EventDate}}\n\t\t\t\t\t\t</dd>\n\t\t\t\t\t</dl>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<div class=\"col-12\">\n\t\t\t\t\t\t<h2>Email History</h2>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"row\">\n\t\t\t\t\t<div class=\"col-12 mb-5\">\n\t\t\t\t\t\t<div class=\"alert alert-info\" role=\"alert\">{{$json.job.ThreadSummary ?? '' }}</div>\n\t\t\t\t\t\t<div class=\"accordion\" id=\"emailHistoryAccordion\">\n\t\t\t\t\t\t\t<div class=\"card\">\n\t\t\t\t\t\t\t\t<div class=\"card-header\" id=\"heading1\">\n\t\t\t\t\t\t\t\t\t<h5 class=\"mb-0\">\n\t\t\t\t\t\t\t\t\t\t<button class=\"btn btn-link\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\t\t\t\t\t\t\t\tdata-target=\"#collapse1\" aria-expanded=\"true\" aria-controls=\"collapse1\">\n\t\t\t\t\t\t\t\t\t\t\t<strong>Date:</strong> {{ $json.job.Created }}\n\t\t\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t\t\t</h5>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</fieldset>\n\t</form>\n\n\t<script>\n\t\tfunction populateContactNumbers(inputText, existingValue) {\n\t\t\t// ---- config / constants ----\n\t\t\tconst selectId = \"contactNumber\";\n\t\t\tconst minDigits = 10;\n\t\t\tconst phoneRegex = /(?<!\\d)(\\+?\\d(?:[\\s().-]*\\d){9,14})(?!\\d)/g;\n\n\t\t\t// ---- guards ----\n\t\t\tif (!inputText) return;\n\n\t\t\tconst matches = [...inputText.matchAll(phoneRegex)].map(m => m[1]);\n\n\t\t\tconst numbers = [...new Set(\n\t\t\t\tmatches\n\t\t\t\t\t.map(n => n.replace(/[^\\d+]/g, \"\"))\n\t\t\t\t\t.filter(n => n.length >= minDigits)\n\t\t\t)];\n\n\t\t\tconst select = document.getElementById(selectId);\n\t\t\tif (!select || numbers.length === 0) return;\n\n\t\t\t// ---- populate select ----\n\t\t\tselect.innerHTML = \"\";\n\n\t\t\t// If multiple numbers, add a blank selected option first\n\t\t\tif (numbers.length > 1) {\n\t\t\t\tconst blank = document.createElement(\"option\");\n\t\t\t\tblank.value = \"\";\n\t\t\t\tblank.textContent = \"Select a number\";\n\t\t\t\tblank.selected = true;\n\t\t\t\tselect.appendChild(blank);\n\t\t\t}\n\n\t\t\tnumbers.forEach(num => {\n\t\t\t\tconst option = document.createElement(\"option\");\n\t\t\t\toption.value = num;\n\t\t\t\toption.textContent = num;\n\t\t\t\tselect.appendChild(option);\n\t\t\t});\n\n\t\t\t// ---- auto-select if single ----\n\t\t\tif (numbers.length === 1) {\n\t\t\t\tselect.value = numbers[0];\n\t\t\t\tselect.dispatchEvent(new Event(\"change\", { bubbles: true }));\n\t\t\t}\n\t\t}\n\n\t\tdocument.getElementById(\"contact\")?.addEventListener(\"change\", e => {\n\t\t\tconst existingValue = document.getElementById(\"contactNumberForAccess\")?.value || \"\";\n\n\t\t\tpopulateContactNumbers(e.target.value, existingValue);\n\t\t});\n\n\t\tdocument.addEventListener(\"DOMContentLoaded\", () => {\n\t\t\tconst inputText = document.getElementById(\"contact\");\n\t\t\tconst existingValue = document.getElementById(\"contactNumberForAccess\")?.value || \"\";\n\n\t\t\tif (inputText && typeof populateContactNumbers === \"function\") {\n\t\t\t\tpopulateContactNumbers(inputText.value || \"\", existingValue);\n\t\t\t}\n\t\t});\n\n\t\tfunction populateCheckboxGroup(inputText, fieldPrefix) {\n\t\t\tif (!inputText) return;\n\n\t\t\tconst values = inputText.split(/[,;]+/).map(t => t.trim());\n\n\t\t\tvalues.forEach(value => {\n\t\t\t\tconst checkboxId = fieldPrefix + value.replace(/\\s+/g, \"\");\n\t\t\t\tconst checkbox = document.getElementById(checkboxId);\n\t\t\t\tif (checkbox) {\n\t\t\t\t\tcheckbox.checked = true;\n\t\t\t\t}\n\t\t\t});\n\t\t}\n\n\t\tfunction populateRadio(inputText, fieldPrefix, values) {\n\t\t\tif (!inputText) return;\n\n\t\t\tvalues.forEach(value => {\n\t\t\t\tconsole.log(\"Checking radio:\", value);\n\t\t\t\tconst fieldId = fieldPrefix + value.replace(/\\s+/g, \"\");\n\t\t\t\tconst field = document.getElementById(fieldId);\n\t\t\t\tif (field && inputText === value) {\n\t\t\t\t\tfield.checked = true;\n\t\t\t\t}\n\t\t\t});\n\t\t}\n\n\t\tdocument.addEventListener(\"DOMContentLoaded\", () => {\n\t\t\tconst inputField = document.getElementById(\"tags\");\n\n\t\t\tif (inputField && typeof populateCheckboxGroup === \"function\") {\n\t\t\t\tpopulateCheckboxGroup(inputField.value || \"\", \"chkTag\");\n\t\t\t}\n\t\t});\n\n\t\tdocument.addEventListener(\"DOMContentLoaded\", () => {\n\t\t\tconst inputField = document.getElementById(\"priority\");\n\n\t\t\tif (inputField && typeof populateRadio === \"function\") {\n\t\t\t\tpopulateRadio(inputField.value || \"\", \"radioPriority\", \"{{ $json.PriorityTags }}\".split(/[,;]+/));\n\t\t\t}\n\t\t});\n\n\t\tdocument.addEventListener(\"DOMContentLoaded\", () => {\n\t\t\tconst inputField = document.getElementById(\"action\");\n\n\t\t\tif (inputField && typeof populateRadio === \"function\") {\n\t\t\t\tpopulateRadio(inputField.value || \"\", \"radioAction\", \"{{ $json.ActionTags }}\".split(/[,;]+/));\n\t\t\t}\n\t\t});\n\t</script>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2304,
        -1952
      ],
      "id": "8783ba2f-4b3d-474b-859f-9f4ccd79e7e2",
      "name": "HTML Quote"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "higgins/job",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -2048
      ],
      "id": "be9cbef8-4535-4390-aa6c-881438890649",
      "name": "Webhook POST",
      "webhookId": "a2e0e54e-d2ca-47e1-958e-4ffc63bacaf9"
    },
    {
      "parameters": {
        "html": "<!-- #pageTitle 'Unauthorised Access' -->\n<div class=\"row mb-4\">\n    <div class=\"col-12\">\n        <div class=\"alert alert-danger\" role=\"alert\">\n            You are not permitted to use this resourse\n          <code>{{ $json.body }}</code>\n        </div>\n    </div>\n</div>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        512,
        -2112
      ],
      "id": "8b0e393c-dcb4-4c96-a90f-56fd0d36a605",
      "name": "403 HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        -2112
      ],
      "id": "47cafe5a-feaf-44aa-b81a-3f2e63e0b90d",
      "name": "Forbidden"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 302,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "1d5b0c54-757a-4dd8-b10d-a1d7c147a27f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUTH0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d0e733a-64cd-485b-94dc-b99d3210febc",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 403,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FORBIDDEN"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        288,
        -2160
      ],
      "id": "933a14bc-4b06-412b-b52a-d747a77ede9a",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Location",
                "value": "={{ $json.headers.Location }}"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        -2304
      ],
      "id": "0012e3c5-4e5a-4e95-9eaa-2b65b6608c54",
      "name": "AuthRequired"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BN8XZNDtPswzUt9h",
          "mode": "list",
          "cachedResultUrl": "/workflow/BN8XZNDtPswzUt9h",
          "cachedResultName": "WfD Shared Project — Higgins: _Secrets"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -160,
        -2256
      ],
      "id": "3efe9428-4f40-49e7-b01c-242cc6958909",
      "name": "Secrets",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\n\n// ------------------------------\n// Config (from your Secrets JSON)\n// ------------------------------\nconst item = $input.first().json;\n\nconst entra = item.n8n_secrets?.entra || {};\nconst tenantId = entra.tenant_id;\nconst clientId = entra.client_id;\nconst redirectUri = entra.redirect_uri;\nconst cookieName = entra.cookie_name;\nconst allowedDomains = entra.allowed_domains;\n\n// ------------------------------\n// Helpers\n// ------------------------------\nfunction toQueryString(obj = {}) {\n  return Object.entries(obj)\n    .filter(([, v]) => v !== undefined && v !== null && v !== \"\")\n    .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(String(v))}`)\n    .join(\"&\");\n}\n\nfunction getCookie(header, name) {\n  if (!header) return null;\n  const match = header.match(new RegExp(`(^| )${name}=([^;]+)`));\n  return match ? match[2] : null;\n}\n\nfunction redirectToEntra(state) {\n  const authority = `https://login.microsoftonline.com/${encodeURIComponent(tenantId)}/oauth2/v2.0/authorize`;\n\n  const location =\n    `${authority}` +\n    `?client_id=${encodeURIComponent(clientId)}` +\n    `&redirect_uri=${encodeURIComponent(redirectUri)}` +\n    `&response_type=code` +\n    `&response_mode=query` +\n    `&scope=${encodeURIComponent(\"openid profile email\")}` +\n    `&state=${encodeURIComponent(state)}`;\n\n  return [\n    {\n      json: {\n        statusCode: 302,\n        headers: {\n          Location: location,\n        },\n      },\n    },\n  ];\n}\n\nfunction deny403(message = \"Forbidden\") {\n  return [\n    {\n      json: {\n        statusCode: 403,\n        headers: { \"Content-Type\": \"text/plain; charset=utf-8\" },\n        body: message,\n      },\n    },\n  ];\n}\n\n/**\n * Validates if an email domain is in the allowed list\n * @param {string} email \n * @param {string[]} allowed \n * @returns {boolean}\n */\nfunction isDomainAllowed(email, allowed) {\n  if (!email || !email.includes('@')) return false;\n\n  // Split at '@' and take the second part\n  const domain = email.split('@').pop().toLowerCase();\n\n  return allowed.includes(domain);\n}\n\nfunction safeEqual(a, b) {\n  const aBuf = Buffer.from(String(a || \"\"), \"utf8\");\n  const bBuf = Buffer.from(String(b || \"\"), \"utf8\");\n  if (aBuf.length !== bBuf.length) return false;\n  return crypto.timingSafeEqual(aBuf, bBuf);\n}\n\nfunction buildJobAuthMessage({ job, exp, sub }) {\n  // fixed order; only include sub if present\n  let msg = `job=${String(job)}&exp=${String(exp)}`;\n  if (sub) msg += `&sub=${String(sub)}`;\n  return msg;\n}\n\nfunction signJobAuth({ secret, job, exp, sub }) {\n  const msg = buildJobAuthMessage({ job, exp, sub });\n  return crypto.createHmac(\"sha256\", secret).update(msg).digest(\"base64url\");\n}\n\nfunction verifyJobAuth({ secret, job, exp, sub, auth }) {\n  if (!secret || !job || !exp || !auth) return false;\n  const expected = signJobAuth({ secret, job, exp, sub });\n  return safeEqual(auth, expected);\n}\n\n// --- CHANGED 2026-03-10: helper for readable UTC expiry logging ---\nfunction formatUtcIsoFriendly(isoString) {\n  return new Intl.DateTimeFormat(\"en-GB\", {\n    dateStyle: \"medium\",\n    timeStyle: \"medium\",\n    timeZone: \"UTC\",\n  }).format(new Date(isoString));\n}\n\n// ------------------------------\n// Self-auth link support (auth + number + exp [+ sub])\n// ------------------------------\nconst q = item.query || {};\nconst jobNumber = q.number;\nconst exp = q.exp;\nconst auth = q.auth;\nconst sub = q.sub; // optional: bind token to an identity / recipient\n\nif (auth && jobNumber && exp) {\n  const now = Math.floor(Date.now() / 1000);\n  const expNum = Number(exp);\n\n  // --- CHANGED 2026-03-10: debug logging showing provided auth expiry ---\n  if (Number.isFinite(expNum)) {\n    const expiryIso = new Date(expNum * 1000).toISOString();\n    console.log(\"[AuthGate] Self-auth token provided:\", {\n      jobNumber,\n      sub: sub || null,\n      expiresAtIsoUtc: expiryIso,\n      expiresAtFriendlyUtc: formatUtcIsoFriendly(expiryIso),\n      expired: expNum < now,\n    });\n  } else {\n    console.log(\"[AuthGate] Self-auth token provided with non-numeric exp:\", {\n      jobNumber,\n      sub: sub || null,\n      exp,\n    });\n  }\n\n  // basic sanity: must be numeric + not expired\n  if (!Number.isFinite(expNum) || expNum < now) {\n    return deny403(\"Link expired\");\n  }\n\n  const ok = verifyJobAuth({\n    secret: item.n8n_secrets?.job_link_secret, // add this secret\n    job: jobNumber,\n    exp: expNum,\n    sub,\n    auth,\n  });\n\n  if (ok) {\n    // Bypass Entra/session for this request\n    return $input.all();\n  }\n\n  return deny403(\"Invalid link\");\n}\n\n// ------------------------------\n// Build returnTo + state (no URLSearchParams)\n// ------------------------------\nconst qs = toQueryString(item.query || {});\nconst queryString = qs ? `?${qs}` : \"\";\nconst returnTo = `${item.webhookUrl}${queryString}`;\n\nconsole.log(`Return to`, returnTo);\n\nconst state = globalThis.Buffer.from(JSON.stringify({ returnTo })).toString(\"base64url\");\n\n// ------------------------------\n// Read + validate session cookie\n// ------------------------------\nconst cookieHeader = item.headers?.cookie || \"\";\nconst sessionToken = getCookie(cookieHeader, cookieName);\n\nconsole.log(`Session token: ${sessionToken}`);\n\n// Missing session → login\nif (!sessionToken) {\n  return redirectToEntra(state);\n}\n\n// Malformed session → login\nconst parts = sessionToken.split(\".\");\nif (parts.length !== 2) {\n  return redirectToEntra(state);\n}\nconst [payloadB64, signature] = parts;\n\n// Verify signature → login on failure\nconst expectedSig = crypto\n  .createHmac(\"sha256\", item.n8n_secrets?.n8n_session_secret)\n  .update(payloadB64)\n  .digest(\"hex\");\n\nif (signature !== expectedSig) {\n  return redirectToEntra(state);\n}\n\n// Decode payload\nlet payload;\ntry {\n  payload = JSON.parse(globalThis.Buffer.from(payloadB64, \"base64url\").toString(\"utf8\"));\n} catch {\n  return redirectToEntra(state);\n}\n\nconsole.log(`Payload`, payload);\n\n// Expired → login again (SSO should make this painless)\nconst now = Math.floor(Date.now() / 1000);\nif (!payload.exp || payload.exp < now) {\n  return redirectToEntra(state);\n}\n\n// ------------------------------\n// Log authenticated user identity\n// ------------------------------\nconst effectiveEmail =\n  payload.email ||\n  payload.preferred_username ||\n  \"(no email)\";\n\nconsole.log(\n  \"[AuthGate] Authenticated user:\",\n  {\n    email: effectiveEmail,\n    subject: payload.sub,\n    expiresAt: payload.exp\n      ? new Date(payload.exp * 1000).toISOString()\n      : \"(no exp)\"\n  }\n);\n\n// ------------------------------\n// Domain allow-list check (preferred)\n// ------------------------------\n// Email is missing, re-authenticate\nif (!effectiveEmail) {\n  return redirectToEntra(state);\n}\n\nif (!isDomainAllowed(effectiveEmail, allowedDomains))\n{\n  let body = { email: effectiveEmail, execution: $execution.id, allowedDomains };\n  \n  return deny403(`<div><code>${JSON.stringify(body, null, 3)}</code></div>`);\n}\n\n// ------------------------------\n// Authenticated → allow workflow to continue\n// ------------------------------\nreturn $input.all().map(item => ({\n  json: {\n    user: {\n      email: effectiveEmail\n    },\n    ...item.json\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -2144
      ],
      "id": "572980d6-472a-485c-8178-664abc64b9a1",
      "name": "AuthGate"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\n\n// ------------------------------\n// Config (from your Secrets JSON)\n// ------------------------------\nconst item = $input.first().json;\n\nconst auth0 = item.n8n_secrets?.auth0 || {};\nconst cookieName = auth0.cookie_name;\nconst auth0Domain = auth0.domain;\nconst auth0Connection = auth0.connection;\nconst clientId = auth0.client_id;\nconst redirectUri = auth0.redirect_uri;\nconst allowedDomains = auth0.allowed_domains;\n\n// ------------------------------\n// Helpers\n// ------------------------------\nfunction toQueryString(obj = {}) {\n  return Object.entries(obj)\n    .filter(([, v]) => v !== undefined && v !== null && v !== \"\")\n    .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(String(v))}`)\n    .join(\"&\");\n}\n\nfunction getCookie(header, name) {\n  if (!header) return null;\n  const match = header.match(new RegExp(`(^| )${name}=([^;]+)`));\n  return match ? match[2] : null;\n}\n\nfunction redirectToAuth0(state) {\n  const location =\n    `https://${auth0Domain}/authorize` +\n    `?client_id=${encodeURIComponent(clientId)}` +\n    `&response_type=code` +\n    `&scope=openid%20profile%20email` +\n    `&connection=${auth0Connection}` +\n    `&redirect_uri=${encodeURIComponent(redirectUri)}` +\n    `&state=${encodeURIComponent(state)}`;\n\n  return [\n    {\n      json: {\n        statusCode: 302,\n        headers: {\n          Location: location,\n        },\n      },\n    },\n  ];\n}\n\nfunction deny403(message = \"Forbidden\") {\n  return [\n    {\n      json: {\n        statusCode: 403,\n        headers: { \"Content-Type\": \"text/plain; charset=utf-8\" },\n        body: message,\n      },\n    },\n  ];\n}\n\n/**\n * Validates if an email domain is in the allowed list\n * @param {string} email \n * @param {string[]} allowed \n * @returns {boolean}\n */\nfunction isDomainAllowed(email, allowed) {\n  if (!email || !email.includes('@')) return false;\n\n  // Split at '@' and take the second part\n  const domain = email.split('@').pop().toLowerCase();\n\n  return allowed.includes(domain);\n}\n\n// ------------------------------\n// Build returnTo + state (no URLSearchParams)\n// ------------------------------\nconst qs = toQueryString(item.query || {});\nconst queryString = qs ? `?${qs}` : \"\";\nconst returnTo = `${item.webhookUrl}${queryString}`;\n\nconsole.log(`Return to`, returnTo);\n\nconst state = globalThis.Buffer.from(JSON.stringify({ returnTo })).toString(\"base64url\");\n\n// ------------------------------\n// Read + validate session cookie\n// ------------------------------\nconst cookieHeader = item.headers?.cookie || \"\";\nconst sessionToken = getCookie(cookieHeader, cookieName);\n\nconsole.log(`Session token: ${sessionToken}`);\n\n// Missing session → login\nif (!sessionToken) {\n  return redirectToAuth0(state);\n}\n\n// Malformed session → login\nconst parts = sessionToken.split(\".\");\nif (parts.length !== 2) {\n  return redirectToAuth0(state);\n}\nconst [payloadB64, signature] = parts;\n\n// Verify signature → login on failure\nconst expectedSig = crypto\n  .createHmac(\"sha256\", item.n8n_secrets?.n8n_session_secret)\n  .update(payloadB64)\n  .digest(\"hex\");\n\nif (signature !== expectedSig) {\n  return redirectToAuth0(state);\n}\n\n// Decode payload\nlet payload;\ntry {\n  payload = JSON.parse(globalThis.Buffer.from(payloadB64, \"base64url\").toString(\"utf8\"));\n} catch {\n  return redirectToAuth0(state);\n}\n\nconsole.log(`Payload`, payload);\n\n// Expired → login again (SSO should make this painless)\nconst now = Math.floor(Date.now() / 1000);\nif (!payload.exp || payload.exp < now) {\n  return redirectToAuth0(state);\n}\n\n// ------------------------------\n// Log authenticated user identity\n// ------------------------------\nconst effectiveEmail =\n  payload.email ||\n  payload.preferred_username ||\n  \"(no email claim)\";\n\nconsole.log(\n  \"[AuthGate] Authenticated user:\",\n  {\n    email: effectiveEmail,\n    subject: payload.sub,\n    expiresAt: payload.exp\n      ? new Date(payload.exp * 1000).toISOString()\n      : \"(no exp)\"\n  }\n);\n\n// ------------------------------\n// Domain allow-list check (preferred)\n// ------------------------------\n// Email is missing, re-authenticate\nif (!effectiveEmail) {\n  return redirectToAuth0(state);\n}\n\nif (!isDomainAllowed(effectiveEmail, allowedDomains))\n{\n  let body = { email: effectiveEmail, execution: $execution.id, allowedDomains };\n  \n  return deny403(`<div><code>${JSON.stringify(body, null, 3)}</code></div>`);\n}\n\n// ------------------------------\n// Authenticated → allow workflow to continue\n// ------------------------------\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -2336
      ],
      "id": "6285cd96-2eac-462e-8af1-4896325c86d9",
      "name": "Auth0Gate",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2080,
        -2176
      ],
      "id": "4c330d5e-f737-4f64-acc5-ed28b140f621",
      "name": "Merge1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7GnSWkz7nyJh-HH5OQ_SE",
          "mode": "list",
          "cachedResultUrl": "/workflow/7GnSWkz7nyJh-HH5OQ_SE",
          "cachedResultName": "WfD Shared Project — Higgins: Job repo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobNumber": "={{ $json.query.number }}",
            "include": "={{ ($json.query?.includeModules ?? []).join(',') }}"
          },
          "matchingColumns": [
            "jobNumber"
          ],
          "schema": [
            {
              "id": "jobNumber",
              "displayName": "jobNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "include",
              "displayName": "include",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        -1856
      ],
      "id": "6fb06897-8079-4cf6-bb1b-2fadacbe7e0a",
      "name": "Get Job Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CPMBwF51nRpqmBzc",
          "mode": "list",
          "cachedResultUrl": "/workflow/CPMBwF51nRpqmBzc",
          "cachedResultName": "WfD Shared Project — Higgins: HTML Render"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        -2112
      ],
      "id": "7ca435ce-367a-4131-8ab7-c866975cba0c",
      "name": "Render Rejection"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CPMBwF51nRpqmBzc",
          "mode": "list",
          "cachedResultUrl": "/workflow/CPMBwF51nRpqmBzc",
          "cachedResultName": "WfD Shared Project — Higgins: HTML - render for web & email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2528,
        -1760
      ],
      "id": "d0c10435-79f5-4195-8a81-b519961f3d10",
      "name": "Render page"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BXPmnEzbsIkCKsGC",
          "mode": "list",
          "cachedResultUrl": "/workflow/BXPmnEzbsIkCKsGC",
          "cachedResultName": "WfD Shared Project — Higgins: Job view UI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2304,
        -1568
      ],
      "name": "Call Higgins: Job view UI",
      "id": "c8f86bfc-77fa-4e43-9d7d-836d4dc9aaa8"
    },
    {
      "parameters": {
        "jsCode": "const {headers, n8n_secrets, ...input} = $input.first().json;\n\n// Work out which modules to include\nconst task = (input.query?.task || '').toLowerCase();\nlet includes = [];\n\nswitch(task)\n{\n  case \"quote\":\n    includes = [\"email\", \"attachment\", \"quote\", \"note_input\", \"quote_history\", \"quote_input\", \"quote_approval\", \"timeline\"];\n    break;\n  case \"quote_approval\":\n    includes = [\"quote\", \"quote_approval\"];\n    break;\n  case \"completion_input\":\n    includes = [\"completion_input\"];\n    break;\n  default:\n    includes = [\"email\", \"attachment\", \"quote\", \"note\", \"note_input\", \"timeline\", \"file\", \"history\", \"quote_approval\"];\n}\n\ninput.query.includeModules = includes;\n\nreturn {\n  json: {\n      ...input\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -1856
      ],
      "id": "47f4e65e-abda-482f-a445-001d26c861af",
      "name": "Wrap input",
      "notes": "Calculates modules to include"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n      ...$input.first().json,\n      ...$('Wrap input').first().json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -1856
      ],
      "id": "448a5d5a-5151-440b-abbc-788a7ea25977",
      "name": "Wrap job"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RgFuxYHwCa6cNZTQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/RgFuxYHwCa6cNZTQ",
          "cachedResultName": "WfD Shared Project — Higgins: _Defaults"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        960,
        -1856
      ],
      "id": "78f33182-ecb4-4a01-8c75-1ca2117dff11",
      "name": "Call 'Higgins: _Defaults'"
    },
    {
      "parameters": {
        "html": "<!-- =========================\nYOUR BODY CONTENT (put this into $json.html)\nPhone-friendly upload + Notes + hidden jobNum.\nOptional RenderForMobile toggle controls compact layout.\n========================= -->\n\n<div class=\"brand-form\">\n  <div class=\"mb-3\">\n    <span class=\"badge brand-pill\">\n      {{ ($json.renderForMobile ? 'Mobile' : 'Desktop') }}\n    </span>\n  </div>\n\n  <form method=\"post\" action=\"/upload\" enctype=\"multipart/form-data\"\n        class=\"needs-validation\" novalidate>\n\n    <input type=\"hidden\" name=\"jobNum\" value=\"{{ $json.jobNum ?? '' }}\" />\n\n    <div class=\"mb-3\">\n      <label for=\"files\" class=\"form-label\">Files</label>\n      <input id=\"files\" name=\"files\" type=\"file\"\n             class=\"form-control\"\n             {{ $json.renderForMobile ? '' : 'multiple' }}\n             {{ $json.accept ?? '' }}\n      />\n      <div class=\"hint mt-2\">\n        {{ $json.renderForMobile ? 'Tip: you can upload one file at a time.' : 'Tip: you can select multiple files.' }}\n      </div>\n    </div>\n\n    <div class=\"mb-3\">\n      <label for=\"notes\" class=\"form-label\">Notes</label>\n      <textarea id=\"notes\" name=\"notes\"\n                class=\"form-control\"\n                rows=\"{{ $json.renderForMobile ? 5 : 7 }}\"\n                placeholder=\"Add any notes here...\">{{ $json.notes ?? '' }}</textarea>\n    </div>\n\n    <div class=\"d-grid gap-2\">\n      <button type=\"submit\" class=\"btn btn-brand btn-lg\">\n        Submit\n      </button>\n\n      <a href=\"{{ $json.cancelUrl ?? '#' }}\"\n         class=\"btn btn-outline-secondary btn-lg {{ $json.cancelUrl ? '' : 'd-none' }}\">\n        Cancel\n      </a>\n    </div>\n\n    <div class=\"hint mt-3\">\n      Job reference: <strong style=\"color: var(--brand-accent);\">{{ $json.jobNum ?? '—' }}</strong>\n    </div>\n  </form>\n</div>\n\n<script>\n  // minimal bootstrap validation (works fine on mobile)\n  (function () {\n    const forms = document.querySelectorAll('.needs-validation');\n    Array.prototype.slice.call(forms).forEach(function (form) {\n      form.addEventListener('submit', function (event) {\n        if (!form.checkValidity()) {\n          event.preventDefault();\n          event.stopPropagation();\n        }\n        form.classList.add('was-validated');\n      }, false);\n    });\n  })();\n</script>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2304,
        -1760
      ],
      "id": "c8c867fc-b6ff-4b3d-93fe-e485071d8a9f",
      "name": "HTML Completion Form",
      "notes": "<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n  <title>Upload</title>\n  <style>\n    body { margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; background:#f6f7f9; color:#111; }\n    .wrap { max-width: 720px; margin: 0 auto; padding: 16px; }\n    .card { background:#fff; border:1px solid #e6e7ea; border-radius: 14px; padding: 16px; box-shadow: 0 1px 2px rgba(0,0,0,.04); }\n    h1 { font-size: 18px; margin: 0 0 12px; }\n    label { display:block; font-size: 13px; margin: 12px 0 6px; color:#333; }\n    input[type=\"file\"], textarea { width: 100%; box-sizing: border-box; border:1px solid #d7d9df; border-radius: 12px; padding: 12px; font-size: 16px; background:#fff; }\n    textarea { min-height: 140px; resize: vertical; }\n    .row { display:flex; gap: 12px; flex-wrap: wrap; }\n    .btn { width: 100%; margin-top: 14px; border:0; border-radius: 12px; padding: 12px 14px; font-size: 16px; font-weight: 600; background:#ff6d5a; color:#fff; }\n    .hint { font-size: 12px; color:#666; margin-top: 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <div class=\"card\">\n      <h1>Upload files</h1>\n\n      <form method=\"post\" action=\"\" enctype=\"multipart/form-data\">\n        <!-- Hidden job number -->\n        <input type=\"hidden\" name=\"number\" value=\"{{ $json.job.JobNumber }}\" />\n        <input type=\"hidden\" name=\"task\" value=\"complete\" />\n\n        <label for=\"files\">Files</label>\n        <input id=\"files\" name=\"files\" type=\"file\" multiple />\n\n        <label for=\"notes\">Notes</label>\n        <textarea id=\"notes\" name=\"notes\" placeholder=\"Add any notes here...\"></textarea>\n\n        <button class=\"btn\" type=\"submit\">Submit</button>\n        <div class=\"hint\">Tip: you can select multiple files.</div>\n      </form>\n    </div>\n  </div>\n</body>\n</html>"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rDEru5OfxMjSuhfp",
          "mode": "list",
          "cachedResultUrl": "/workflow/rDEru5OfxMjSuhfp",
          "cachedResultName": "WfD Shared Project — Higgins: HTML - build modules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "_firstItem"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1408,
        -1856
      ],
      "name": "Call Higgins: Build modules",
      "id": "43c8efc3-c027-4395-9012-ec8112dff23e"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DRKmI5JLEnYoULS1",
          "mode": "list",
          "cachedResultUrl": "/workflow/DRKmI5JLEnYoULS1",
          "cachedResultName": "WfD Shared Project — Higgins: Job edit POST"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "_firstItem"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        64,
        -1712
      ],
      "name": "Call Higgins: Job edit POST",
      "id": "8a7cb672-8c70-4d2e-93ec-b778c0a5a577"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        288,
        -1808
      ],
      "id": "4a222e05-379e-40b8-93cd-e3d1ce5fafaa",
      "name": "Input processed, refresh"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "usc7tdi0NOfDMdh6",
          "mode": "list",
          "cachedResultUrl": "/workflow/usc7tdi0NOfDMdh6",
          "cachedResultName": "WfD Shared Project — Higgins: Notify job updates"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        -1616
      ],
      "id": "c4231e72-0abf-4772-b1ce-af729e7915a1",
      "name": "Call 'Higgins: Notify job updates'"
    }
  ],
  "connections": {
    "Call 'Higgins: Postcode lookup'": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Content Gen": {
      "main": [
        [
          {
            "node": "Call 'Higgins: Postcode lookup'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "HTML Quote",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML Completion Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Higgins: Job view UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Confirm": {
      "main": [
        [
          {
            "node": "Render page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Quote": {
      "main": [
        [
          {
            "node": "Render page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Secrets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Higgins: Job edit POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "403 HTML": {
      "main": [
        [
          {
            "node": "Render Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AuthRequired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "403 HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrap input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secrets": {
      "main": [
        [
          {
            "node": "AuthGate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auth0Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuthGate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "HTML Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Data": {
      "main": [
        [
          {
            "node": "Call 'Higgins: _Defaults'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Rejection": {
      "main": [
        [
          {
            "node": "Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render page": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Higgins: Job view UI": {
      "main": [
        [
          {
            "node": "Render page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap input": {
      "main": [
        [
          {
            "node": "Get Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap job": {
      "main": [
        [
          {
            "node": "Call Higgins: Build modules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Higgins: _Defaults'": {
      "main": [
        [
          {
            "node": "Wrap job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Completion Form": {
      "main": [
        [
          {
            "node": "Render page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Higgins: Build modules": {
      "main": [
        [
          {
            "node": "Switch Content Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Higgins: Job edit POST": {
      "main": [
        [
          {
            "node": "Input processed, refresh",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Higgins: Notify job updates'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input processed, refresh": {
      "main": [
        [
          {
            "node": "Wrap input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}