subflows/16 - CPMBwF51nRpqmBzc - Higgins - HTML - render for web & email.json
{
  "workflow": {
    "id": "CPMBwF51nRpqmBzc",
    "name": "Higgins: HTML - render for web & email",
    "active": true,
    "isArchived": false,
    "versionId": "e4334eaa-3ac6-4622-8f81-73d3a16e3f7f",
    "activeVersionId": "e4334eaa-3ac6-4622-8f81-73d3a16e3f7f",
    "triggerCount": 0,
    "createdAt": "2026-01-08T17:05:39.567Z",
    "updatedAt": "2026-04-03T16:23:22.357Z",
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true
    },
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Extract variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate HTML": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Extract variables": {
        "main": [
          [
            {
              "node": "Generate HTML",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate Email",
              "type": "main",
              "index": 0
            },
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Email": {
        "main": [
          [
            {
              "node": "Rename Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rename Keys": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      }
    },
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -672,
          192
        ],
        "id": "f11d73e7-9c11-41bb-b50e-206879d064de",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "html": "<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>LISA Higgins: {{ ($json.pageTitle ?? '').replace(/<[^>]*>?/gm, '') }}</title>\n\n  <!-- Bootstrap 5 (CSS + JS bundle, no jQuery/Popper needed) -->\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\" />\n  <link rel=\"stylesheet\"\n        href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css\"\n        integrity=\"sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==\"\n        crossorigin=\"anonymous\"\n        referrerpolicy=\"no-referrer\" />\n  <script defer src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js\"></script>\n\n  <style>\n    :root {\n      --brand-accent: #1E6E8C;\n      --brand-ink: #B6C931;\n    }\n\n    body { color: var(--brand-ink); }\n    a { color: var(--brand-accent); text-decoration: none; }\n    a:hover { text-decoration: underline; }\n\n    .brand-bar {\n      background: var(--brand-accent);\n      border-bottom: 1px solid rgba(17, 24, 39, 0.08);\n      backdrop-filter: blur(6px);\n    }\n    .brand-bar .btn { white-space: nowrap; }\n\n    .brand-card { border-top: 4px solid var(--brand-accent); }\n\n    .brand-pill {\n      background: #7AC143;\n      color: #fff;\n      border: 1px solid #6AAF3A;\n    \n      font-weight: 700;\n      white-space: nowrap;\n    \n      display: inline-flex;\n      align-items: center;\n      line-height: 1;\n      padding: 0.35rem 0.65rem;\n      font-size: 0.75rem;\n    }\n\n    .brand-pill:hover {\n      background: #6AAF3A;\n      border-color: #5e9e33;\n    }\n\n    /* You have .header styles, but you use brand-header in markup; keep as-is */\n    .header { background: var(--brand-accent); padding: 24px 16px; }\n    .header-inner {\n      background-color: #ffffff;\n      border-radius: 12px;\n      padding: 16px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n\n    ol { padding-left: 20px; }\n    li { margin-bottom: 14px; }\n    dt { font-weight: bold; margin-top: 10px; }\n    dd { margin-left: 20px; margin-bottom: 8px; color: #4b5563; }\n\n    /* ---- Mobile enhancements (do not affect desktop experience) ---- */\n    .brand-bar { display:flex; gap: 12px; flex-wrap: wrap; }\n    .logo-wrap { display:flex; align-items:center; gap: 12px; min-width: 0; }\n    .martin-co-logo-transparent { max-width: 100%; height: auto; }\n\n    @media (max-width: 576px) {\n      .brand-bar { align-items: stretch !important; }\n      .logo-wrap { width: 100%; justify-content: space-between; }\n      .brand-bar .btn { width: 100%; justify-content: center; }\n      .card-body { padding: 16px !important; }\n      h1.display-4 { font-size: 1.6rem; line-height: 1.2; }\n    }\n    \n    /* ===== TEXTAREA FIX ===== */\n    \n    textarea.form-control {\n      border-radius: 12px;\n      padding: 0.85rem 1rem;\n      font-size: 0.95rem;\n      line-height: 1.5;\n    \n      border: 1px solid #d1d5db;         /* softer border */\n      box-shadow: none;\n      transition: border-color .15s ease, box-shadow .15s ease;\n      \n      resize: vertical;                  /* only vertical resize */\n      min-height: 140px;\n    }\n    \n    /* Focus state aligned to brand */\n    textarea.form-control:focus {\n      border-color: var(--brand-accent);\n      box-shadow: 0 0 0 0.2rem rgba(30,110,140,0.15);\n    }\n    \n    /* Remove harsh inner shadow on some browsers */\n    textarea.form-control:focus-visible {\n      outline: none;\n    }\n    \n    /* Improve spacing under label */\n    label + textarea.form-control {\n      margin-top: 0.25rem;\n    }\n    \n    /* Optional: slightly lighter background for read/edit areas */\n    textarea.form-control:not(:disabled) {\n      background-color: #fff;\n    }\n    \n    /* Disabled state */\n    textarea.form-control:disabled {\n      background-color: #f3f4f6;\n      opacity: 1;\n    }\n\n    .hidden\n    {\n      display: none;\n      visibility: hidden;\n    }\n\n    .hgs-module {\n      border: 1px solid rgba(0,0,0,.10);\n      border-radius: 14px;\n      background: #fff;\n      box-shadow: 0 1px 2px rgba(0,0,0,.04);\n      overflow: hidden;\n    }\n    .hgs-module__header {\n      padding: 10px 12px;\n      background: rgba(0,0,0,.02);\n      border-bottom: 1px solid rgba(0,0,0,.08);\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      gap: 10px;\n    }\n    .hgs-module__title {\n      display:flex; align-items:center; gap:8px;\n      font-weight: 600;\n    }\n    .hgs-module__count {\n      font-size: 12px;\n      opacity: .7;\n      white-space: nowrap;\n    }\n    \n    .hgs-module__toggle {\n      width: 100%;\n      border: 0;\n      background: transparent;\n      padding: 0;\n      text-align: inherit;\n      color: inherit;\n    }\n    .hgs-module__toggle:hover {\n      opacity: .92;\n    }\n    .hgs-module__toggleIcon {\n      transition: transform .15s ease;\n    }\n    .hgs-module__toggle[aria-expanded=\"true\"] .hgs-module__toggleIcon {\n      transform: rotate(180deg);\n    }\n</style>\n</head>\n\n<body class=\"bg-light\">\n\n  <!-- Branded header -->\n  <header class=\"brand-header py-4\">\n    <div class=\"container\">\n      <div class=\"brand-bar rounded-4 shadow-sm px-3 py-3 align-items-center justify-content-between\">\n        <div class=\"logo-wrap\">\n          <!-- logo -->\n          <img src=\"https://drflow.co.uk/wp-content/uploads/2026/02/martin-and-co-logo.png\" alt=\"Martin & Co logo\" />\n        </div>\n\n        <!-- Logout button -->\n{{\n  (() => {\n    const email = String($json.userEmail ?? '').trim();\n    if (!email) return '';\n\n    const beforeAt = email.split('@')[0] || '';\n    const parts = beforeAt.split('.').filter(Boolean);\n\n    let firstName = parts[0] || 'User';\n    firstName = firstName.charAt(0).toUpperCase() + firstName.slice(1).toLowerCase();\n\n    const esc = (s) => String(s)\n      .replace(/&/g, '&amp;')\n      .replace(/</g, '&lt;')\n      .replace(/>/g, '&gt;')\n      .replace(/\"/g, '&quot;')\n      .replace(/'/g, '&#39;');\n\n    return `\n      <a href=\"/webhook/higgins/auth-logout\"\n         class=\"brand-pill\"\n         title=\"Sign out\"\n         aria-label=\"Sign out\"\n         style=\"\n           gap:6px;\n           border-radius:999px;\n           text-decoration:none;\n         \">\n\n        <span style=\"display:flex;align-items:center;font-size:13px;\">\n          <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"14\" height=\"14\" fill=\"currentColor\" viewBox=\"0 0 16 16\">\n            <path d=\"M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3z\"/>\n            <path d=\"M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6z\"/>\n          </svg>\n        </span>\n\n        <span>${esc(firstName)}</span>\n      </a>\n    `;\n  })()\n}}\n      </div>\n    </div>\n  </header>\n\n  <!-- BODY (single, shared) -->\n  <main class=\"container py-4\">\n    <div class=\"row justify-content-center\">\n      <!-- Desktop remains effectively \"col-9\"; mobile gets full width -->\n      <div class=\"col-12 col-md-10 col-lg-9\">\n\n        <div class=\"card shadow-sm brand-card\">\n          <div class=\"card-body p-4\">\n            <h1 class=\"mb-4 display-4 d-flex justify-content-between align-items-center\">\n              <!-- Left Side: Title -->\n              <span>{{ $json.pageTitle ?? '' }}</span>\n            \n              <!-- Right Side: Stacked Badges -->\n              <div class=\"d-flex flex-column align-items-end\">\n                <span class=\"badge fs-6 fw-light bg-secondary text-light mb-1\">\n                  Created: {{ $json.jobCreated ?? '' }}\n                </span>\n                <span class=\"badge fs-6 fw-light bg-info text-dark\">\n                  Status: {{ $json.jobStatus ?? '' }}\n                </span>\n              </div>\n            </h1>\n            \n            {{ $json.html ?? '' }}\n          </div>\n        </div>\n\n      </div>\n    </div>\n  </main>\n\n<!-- LISA Help floating button -->\n<a\n  href=\"https://app.startinfinity.com/form/PLcQMJhx8Ny\"\n  target=\"_blank\"\n  rel=\"noopener\"\n  class=\"lisa-help-fab\"\n>\n  <img\n    src=\"https://i.ibb.co/1tsJGnYp/lisa-profile-100px-round-smooth.png\"\n    alt=\"Help\"\n    class=\"lisa-help-fab__img\"\n  />\n  <span class=\"lisa-help-fab__label\">Help</span>\n</a>\n\n<style>\n  .lisa-help-fab {\n    position: fixed;\n    right: 20px;\n    bottom: 20px;\n    z-index: 1100;\n    display: inline-flex;\n    align-items: center;\n    gap: 10px;\n    padding: 10px 14px 10px 10px;\n    background: #ffffff;\n    color: #1f2937;\n    text-decoration: none;\n    border-radius: 999px;\n    box-shadow: 0 10px 30px rgba(0,0,0,.18);\n    border: 1px solid rgba(0,0,0,.08);\n    transition: transform .12s ease, box-shadow .12s ease, opacity .12s ease;\n  }\n\n  .lisa-help-fab:hover {\n    transform: translateY(-1px);\n    box-shadow: 0 14px 36px rgba(0,0,0,.22);\n    text-decoration: none;\n    color: #1f2937;\n  }\n\n  .lisa-help-fab:active {\n    transform: translateY(0);\n  }\n\n  .lisa-help-fab__img {\n    width: 42px;\n    height: 42px;\n    border-radius: 50%;\n    object-fit: cover;\n    display: block;\n    border: 2px solid #fff;\n    box-shadow: 0 2px 8px rgba(0,0,0,.12);\n    flex: 0 0 42px;\n  }\n\n  .lisa-help-fab__label {\n    font-weight: 600;\n    font-size: 14px;\n    line-height: 1;\n    white-space: nowrap;\n  }\n\n  @media (max-width: 576px) {\n    .lisa-help-fab {\n      right: 14px;\n      bottom: 14px;\n      padding: 8px;\n      border-radius: 50%;\n    }\n\n    .lisa-help-fab__label {\n      display: none;\n    }\n  }\n</style>\n</body>\n</html>"
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          0,
          192
        ],
        "id": "ed1688c1-ddda-42e5-bf4d-94f0cf9bcc60",
        "name": "Generate HTML",
        "notes": "=<!doctype html>\n<html lang=\"en\">\n\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>LISA Higgins: {{ ($json.pageTitle ?? '').replace(/<[^>]*>?/gm, '') }}</title>\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\" />\n  \n  <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js\"></script>\n  <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js\"></script>\n  \n  <style>\n    :root {\n      --brand-accent: #1E6E8C;\n      --brand-ink: #B6C931;\n    }\n\n    body {\n      color: var(--brand-ink);\n    }\n    \n    .brand-bar {\n      background: var(--brand-accent);\n      border-bottom: 1px solid rgba(17, 24, 39, 0.08);\n      backdrop-filter: blur(6px);\n    }\n\n    .brand-bar .btn {\n      white-space: nowrap;\n    }\n    \n    .brand-card {\n      border-top: 4px solid var(--brand-accent);\n    }\n\n    .brand-pill {\n      background: rgba(214, 27, 62, 0.10);\n      color: var(--brand-accent);\n      border: 1px solid rgba(214, 27, 62, 0.25);\n      font-weight: 600;\n    }\n\n    a {\n      color: var(--brand-accent);\n      text-decoration: none;\n    }\n\n    a:hover {\n      text-decoration: underline;\n    }\n\n    .card-body {\n      padding: 24px;\n    }\n\n    .header {\n      background: var(--brand-accent);\n      padding: 24px 16px;\n    }\n\n    .header-inner {\n      background-color: #ffffff;\n      border-radius: 12px;\n      padding: 16px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n\n    .badge {\n      display: inline-block;\n      padding: 4px 10px;\n      font-size: 12px;\n      font-weight: bold;\n      color: var(--brand-accent-2);\n      background-color: rgba(214, 27, 62, 0.1);\n      border: 1px solid rgba(214, 27, 62, 0.25);\n      border-radius: 999px;\n    }\n\n    ol {\n      padding-left: 20px;\n    }\n\n    li {\n      margin-bottom: 14px;\n    }\n\n    dt {\n      font-weight: bold;\n      margin-top: 10px;\n    }\n\n    dd {\n      margin-left: 0;\n      margin-left: 20px;\n      margin-bottom: 8px;\n      color: #4b5563;\n    }\n  </style>\n</head>\n\n<body class=\" bg-light\">\n\n  <!-- Branded header -->\n  <header class=\"brand-header py-4\">\n    <div class=\"container\">\n      <div class=\"brand-bar rounded-4 shadow-sm px-3 py-3 d-flex align-items-center justify-content-between\">\n        <div class=\"logo-wrap\">\n         <svg xmlns=\"http://www.w3.org/2000/svg\" class=\"martin-co-logo-transparent\" width=\"300\" height=\"48\" viewBox=\"0 0 300 48\" fill=\"none\"><g clip-path=\"url(#clip0_7071_1234)\"><mask id=\"mask0_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"0\" y=\"17\" width=\"36\" height=\"22\"><path d=\"M0 17.3906L11.8176 31.0147L35.1353 38.805L22.3588 28.0361L0 17.3906Z\" fill=\"white\"></path></mask><g mask=\"url(#mask0_7071_1234)\"><path d=\"M35.1353 17.3979H0V38.8123H35.1353V17.3979Z\" fill=\"url(#paint0_linear_7071_1234)\"></path></g><mask id=\"mask1_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"8\" y=\"31\" width=\"28\" height=\"9\"><path d=\"M8.05273 32.3718L31.4704 39.4218L35.1351 38.8049L11.8174 31.0146L8.05273 32.3718Z\" fill=\"white\"></path></mask><g mask=\"url(#mask1_7071_1234)\"><path d=\"M35.1273 31.0146H8.04492V39.4218H35.1273V31.0146Z\" fill=\"url(#paint1_linear_7071_1234)\"></path></g><mask id=\"mask2_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"8\" y=\"32\" width=\"24\" height=\"14\"><path d=\"M8.07617 45.5083C13.7821 42.612 22.235 40.685 31.4938 40.5146V39.4277L8.07617 32.3718V45.5083Z\" fill=\"white\"></path></mask><g mask=\"url(#mask2_7071_1234)\"><path d=\"M22.7584 21.0518L1.72461 37.2473L16.7983 56.7752L37.8321 40.5797L22.7584 21.0518Z\" fill=\"url(#paint2_linear_7071_1234)\"></path></g><path d=\"M51.358 14.5764L47.2109 13.3368L47.2403 7.42651L51.358 8.93051V14.5764Z\" fill=\"#1E6E8C\"></path><path d=\"M43.0879 14.7526L47.2114 13.3368L47.235 7.42651L43.2055 9.92926L43.0879 14.7526Z\" fill=\"#BDE2F3\"></path><path d=\"M73.3006 0.5L37.1829 16.198L18.3477 32.084L55.8771 20.5925L73.3006 0.5Z\" fill=\"#BDE2F3\"></path><path d=\"M55.8771 20.5925L18.3477 32.084L23.7477 32.9947L61.4359 22.6018L55.8771 20.5925Z\" fill=\"#1E6E8C\"></path><mask id=\"mask3_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"23\" y=\"22\" width=\"39\" height=\"26\"><path d=\"M23.7462 33.0006L23.7109 41.0787C26.7442 40.6873 29.7995 40.491 32.858 40.4912C44.8815 40.4912 55.7992 43.37 61.4697 47.6646L61.4345 22.5901L23.7462 33.0006Z\" fill=\"white\"></path></mask><g mask=\"url(#mask3_7071_1234)\"><path d=\"M37.7683 4.39235L11.5645 38.3394L47.3662 65.9058L73.57 31.9588L37.7683 4.39235Z\" fill=\"url(#paint3_linear_7071_1234)\"></path></g><mask id=\"mask4_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"0\" y=\"17\" width=\"36\" height=\"22\"><path d=\"M0 17.3906L11.8176 31.0147L35.1353 38.805L22.3588 28.0361L0 17.3906Z\" fill=\"white\"></path></mask><g mask=\"url(#mask4_7071_1234)\"><path d=\"M35.1353 17.3979H0V38.8123H35.1353V17.3979Z\" fill=\"url(#paint4_linear_7071_1234)\"></path></g><mask id=\"mask5_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"8\" y=\"31\" width=\"28\" height=\"9\"><path d=\"M8.05273 32.3718L31.4704 39.4218L35.1351 38.8049L11.8174 31.0146L8.05273 32.3718Z\" fill=\"white\"></path></mask><g mask=\"url(#mask5_7071_1234)\"><path d=\"M35.1273 31.0146H8.04492V39.4218H35.1273V31.0146Z\" fill=\"url(#paint5_linear_7071_1234)\"></path></g><mask id=\"mask6_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"8\" y=\"32\" width=\"24\" height=\"14\"><path d=\"M8.07617 45.5083C13.7821 42.612 22.235 40.685 31.4938 40.5146V39.4277L8.07617 32.3718V45.5083Z\" fill=\"white\"></path></mask><g mask=\"url(#mask6_7071_1234)\"><path d=\"M22.7584 21.0518L1.72461 37.2473L16.7983 56.7752L37.8321 40.5797L22.7584 21.0518Z\" fill=\"url(#paint6_linear_7071_1234)\"></path></g><path d=\"M51.358 14.5764L47.2109 13.3368L47.2403 7.42651L51.358 8.93051V14.5764Z\" fill=\"#006893\"></path><path d=\"M43.0879 14.7526L47.2114 13.3368L47.235 7.42651L43.2055 9.92926L43.0879 14.7526Z\" fill=\"#84CFF1\"></path><path d=\"M73.3006 0.5L37.1829 16.198L18.3477 32.084L55.8771 20.5925L73.3006 0.5Z\" fill=\"#84CFF1\"></path><path d=\"M55.8771 20.5925L18.3477 32.084L23.7477 32.9947L61.4359 22.6018L55.8771 20.5925Z\" fill=\"#006893\"></path><mask id=\"mask7_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"23\" y=\"22\" width=\"39\" height=\"26\"><path d=\"M23.7462 33.0006L23.7109 41.0787C26.7442 40.6873 29.7995 40.491 32.858 40.4912C44.8815 40.4912 55.7992 43.37 61.4697 47.6646L61.4345 22.5901L23.7462 33.0006Z\" fill=\"white\"></path></mask><g mask=\"url(#mask7_7071_1234)\"><path d=\"M37.7683 4.39235L11.5645 38.3394L47.3662 65.9058L73.57 31.9588L37.7683 4.39235Z\" fill=\"url(#paint7_linear_7071_1234)\"></path></g><path class=\"martin-co-logo-text\" d=\"M84.7537 30.7033C84.7537 32.5951 85.3419 33.7583 86.5831 34.2753H78.3184C79.5772 33.7583 80.1536 32.5951 80.1536 30.7033V17.4082C80.1536 15.5164 79.5654 14.3532 78.3184 13.8362H88.8478C88.6966 14.0483 88.6089 14.2989 88.5948 14.5588C88.63 14.8643 88.7031 15.1643 88.8125 15.4518L94.0242 30.0159L99.3183 15.3284C99.4091 15.1083 99.4704 14.8772 99.5007 14.6411C99.4909 14.3539 99.4057 14.0743 99.2536 13.8303H110.001C108.707 14.3826 108.201 15.5106 108.201 17.4023V30.6974C108.201 32.4188 108.53 33.4117 109.824 34.2694H101.46C102.824 33.3059 103.077 32.3483 103.077 30.6974V17.3553L96.9007 32.8653C96.8045 33.0836 96.743 33.3155 96.7184 33.5527C96.7288 33.8134 96.8168 34.065 96.9713 34.2753H90.8595C90.9424 34.0769 91.0036 33.87 91.0419 33.6584C91.0039 33.3763 90.9308 33.1 90.8242 32.8359L84.7537 16.9323V30.7033Z\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M136 30.6034L128.942 15.5164C128.78 15.2305 128.67 14.9182 128.618 14.594C128.68 14.3298 128.777 14.0749 128.906 13.8362H120.048C120.178 14.0582 120.264 14.3037 120.3 14.5588C120.263 14.8977 120.153 15.2244 119.977 15.5164L112.395 30.6034C111.772 31.9609 110.923 33.2026 109.883 34.2753H118.118C117.846 34.0433 117.63 33.7523 117.487 33.4245C117.345 33.0967 117.279 32.7407 117.295 32.3835C117.289 31.9271 117.373 31.474 117.542 31.0499L118.012 30.0512H130.336L130.924 31.3907C131.089 31.7811 131.175 32.2005 131.177 32.6244C131.168 32.9398 131.092 33.2498 130.956 33.5342C130.819 33.8186 130.624 34.0711 130.383 34.2753H138.506C137.461 33.2059 136.609 31.9636 135.989 30.6034M119.748 26.3382L124.071 16.7678L128.706 26.3147L119.748 26.3382Z\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M145.723 30.7034V26.5145H148.199C149.2 26.4821 150.195 26.6822 151.106 27.0992C152.016 27.5161 152.818 28.1385 153.446 28.9174C154.917 30.6329 155.605 32.0429 155.605 33.0769C155.587 33.3081 155.519 33.5326 155.407 33.7354C155.294 33.9381 155.139 34.1143 154.952 34.2519H164.135C162.123 32.9476 161.152 30.956 159.823 28.9996C158.852 27.5544 157.917 26.3852 156.087 25.5921C159.864 24.9106 161.911 22.7428 161.911 19.8581C161.95 18.6112 161.571 17.3869 160.835 16.3792C160.099 15.3714 159.047 14.6378 157.846 14.2945C156.264 13.8127 154.076 13.8127 151.311 13.8127H138.699C139.952 14.365 140.493 15.4636 140.493 17.3377V30.6975C140.493 32.5892 139.987 33.7173 138.699 34.2695H147.57C146.311 33.7525 145.74 32.5892 145.74 30.6975M145.74 23.0012V17.3554H151.452C154.864 17.3554 156.299 17.9429 156.299 20.1695C156.299 22.3961 154.864 23.0189 151.452 23.0189L145.74 23.0012Z\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M172.33 31.8374V17.3555H171.288C168.347 17.3555 165.859 17.7021 163.453 19.118C164.177 16.5389 164.783 15.1289 164.783 14.6824C164.742 14.38 164.618 14.095 164.424 13.8599H185.553C185.341 14.0841 185.212 14.3745 185.188 14.6824C185.188 15.0995 185.777 16.5036 186.524 19.118C184.118 17.708 181.635 17.3555 178.688 17.3555H177.571V30.7211C177.571 32.4014 178.33 33.8819 179.512 34.2931H170.6C171.091 34.094 171.515 33.7586 171.822 33.3266C172.128 32.8945 172.304 32.3839 172.33 31.855\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M194.506 17.4084V30.7036C194.506 32.5953 195.041 33.7292 196.335 34.2755H187.488C188.782 33.7292 189.288 32.5953 189.288 30.7036V17.4084C189.288 15.5225 188.782 14.3887 187.488 13.8364H196.312C195.018 14.3887 194.482 15.5225 194.482 17.4084\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M205.1 30.7036C205.135 32.5953 205.535 33.641 206.935 34.2755H198.488C199.782 33.7292 200.282 32.5953 200.282 30.7036V17.4084C200.282 15.5167 199.782 14.3887 198.488 13.8364H208.947C208.835 13.9893 208.76 14.1664 208.729 14.3534C208.781 14.6208 208.878 14.8773 209.018 15.1113L217.359 30.5332L217.277 17.4084C217.277 15.5167 216.688 14.3534 215.412 13.8364H223.647C221.959 14.6237 221.924 15.7928 221.924 17.3614V32.5424C221.887 32.8546 221.912 33.171 221.998 33.4734C222.084 33.7758 222.228 34.0584 222.424 34.3049H213.835C213.975 34.1265 214.063 33.913 214.088 33.688C214.037 33.4427 213.939 33.2094 213.8 33.0007L204.747 17.097L205.106 30.7329\" fill=\"white\"></path><path d=\"M243.752 30.9444C244.13 31.4593 244.354 32.0703 244.399 32.7069C244.367 33.2791 244.162 33.8283 243.811 34.2814H250.24C249.128 32.7715 249.452 29.9221 246.328 27.4076C247.223 25.7626 248.093 25.2162 249.776 25.2162C250.134 25.2162 250.493 25.2515 250.893 25.2809C250.493 25.04 250.458 24.5289 250.458 23.6652V22.8427C250.458 22.361 250.493 22.0908 250.893 21.8793H242.134C242.577 22.4707 242.849 23.1715 242.923 23.9061C242.905 24.2524 242.819 24.5918 242.67 24.9049C236.387 22.1201 232.934 21.092 232.934 19.2003C232.934 18.0253 234.264 17.003 236.558 17.003C238.54 17.003 241.017 17.7256 244.205 18.9241V13.7071C243.902 13.9314 243.54 14.0621 243.164 14.0831C241.546 14.0831 239.352 13.3958 236.664 13.3958C230.552 13.3958 227.317 15.4931 227.317 18.789C227.324 19.4642 227.488 20.1285 227.794 20.7306C228.1 21.3327 228.54 21.8564 229.081 22.2611C226.246 23.1835 224.734 25.04 224.734 27.6544C224.734 31.9137 228.293 34.7631 234.44 34.7631C238.605 34.7631 241.552 33.5881 243.781 30.9503M240.764 28.3711C239.94 29.9574 237.564 31.1559 235.123 31.1559C232.246 31.1559 230.128 29.4697 230.128 27.5486C230.176 26.9006 230.377 26.2731 230.714 25.7176C231.052 25.1621 231.516 24.6943 232.07 24.3526C234.187 25.5276 237.17 26.7026 240.764 28.3711Z\" fill=\"#84CFF1\"></path><path class=\"martin-co-logo-text\" d=\"M272.006 34.0697C270.424 34.0697 267.841 34.7571 264.5 34.7571C256.882 34.7571 252.5 30.9442 252.5 24.3466C252.5 17.749 257.488 13.3604 265.506 13.3604C269.171 13.3604 271.718 14.1828 273.118 14.1828C273.516 14.1537 273.91 14.0828 274.294 13.9713L272.382 19.0591C270.407 17.7606 268.088 17.0795 265.724 17.1027C261.018 17.1027 258.106 20.0402 258.106 24.1057C258.106 28.606 260.618 31.0147 265.4 31.0147C268.094 31.0147 270.694 30.2216 273.588 28.8527V34.3929C273.082 34.2008 272.547 34.0955 272.006 34.0815\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M300.141 24.0705C300.141 17.3436 295.576 13.3604 287.565 13.3604C279.765 13.3604 275.023 17.8253 275.023 24.3113C275.023 30.7033 279.553 34.7923 287.565 34.7923C295.359 34.7923 300.141 30.2568 300.141 24.0705ZM287.276 31.0147C283.035 31.0147 280.559 28.6118 280.559 24.4171C280.559 19.7465 283.182 17.1027 287.853 17.1027C292.094 17.1027 294.565 19.5056 294.565 23.765C294.565 28.3651 291.912 31.0147 287.276 31.0147Z\" fill=\"white\"></path></g><defs><linearGradient id=\"paint0_linear_7071_1234\" x1=\"0.0114706\" y1=\"28.8004\" x2=\"28.1869\" y2=\"28.8004\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#FFF490\"></stop><stop offset=\"0.01\" stop-color=\"#F6F08A\"></stop><stop offset=\"0.08\" stop-color=\"#D3DF73\"></stop><stop offset=\"0.14\" stop-color=\"#B7D261\"></stop><stop offset=\"0.21\" stop-color=\"#A3C954\"></stop><stop offset=\"0.27\" stop-color=\"#97C34D\"></stop><stop offset=\"0.34\" stop-color=\"#93C14A\"></stop><stop offset=\"0.74\" stop-color=\"#57893A\"></stop><stop offset=\"1\" stop-color=\"#27602A\"></stop></linearGradient><linearGradient id=\"paint1_linear_7071_1234\" x1=\"8.02822\" y1=\"35.171\" x2=\"35.0923\" y2=\"35.171\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#93C14A\"></stop><stop offset=\"0.29\" stop-color=\"#57893A\"></stop><stop offset=\"0.55\" stop-color=\"#004C23\"></stop><stop offset=\"1\" stop-color=\"#004C23\"></stop></linearGradient><linearGradient id=\"paint2_linear_7071_1234\" x1=\"28.2595\" y1=\"52.1777\" x2=\"13.1883\" y2=\"32.604\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#195D2B\"></stop><stop offset=\"0.39\" stop-color=\"#57893A\"></stop><stop offset=\"0.75\" stop-color=\"#93C14A\"></stop><stop offset=\"1\" stop-color=\"#C6D200\"></stop></linearGradient><linearGradient id=\"paint3_linear_7071_1234\" x1=\"38.6302\" y1=\"42.4943\" x2=\"57.2981\" y2=\"18.2496\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#40BDE0\"></stop><stop offset=\"1\" stop-color=\"white\"></stop></linearGradient><linearGradient id=\"paint4_linear_7071_1234\" x1=\"0.0114706\" y1=\"28.8004\" x2=\"28.1869\" y2=\"28.8004\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#FFF490\"></stop><stop offset=\"0.01\" stop-color=\"#F6F08A\"></stop><stop offset=\"0.08\" stop-color=\"#D3DF73\"></stop><stop offset=\"0.14\" stop-color=\"#B7D261\"></stop><stop offset=\"0.21\" stop-color=\"#A3C954\"></stop><stop offset=\"0.27\" stop-color=\"#97C34D\"></stop><stop offset=\"0.34\" stop-color=\"#93C14A\"></stop><stop offset=\"0.74\" stop-color=\"#57893A\"></stop><stop offset=\"1\" stop-color=\"#27602A\"></stop></linearGradient><linearGradient id=\"paint5_linear_7071_1234\" x1=\"8.02822\" y1=\"35.171\" x2=\"35.0923\" y2=\"35.171\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#93C14A\"></stop><stop offset=\"0.29\" stop-color=\"#57893A\"></stop><stop offset=\"0.55\" stop-color=\"#004C23\"></stop><stop offset=\"1\" stop-color=\"#004C23\"></stop></linearGradient><linearGradient id=\"paint6_linear_7071_1234\" x1=\"28.2595\" y1=\"52.1777\" x2=\"13.1883\" y2=\"32.604\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#195D2B\"></stop><stop offset=\"0.39\" stop-color=\"#57893A\"></stop><stop offset=\"0.75\" stop-color=\"#93C14A\"></stop><stop offset=\"1\" stop-color=\"#C6D200\"></stop></linearGradient><linearGradient id=\"paint7_linear_7071_1234\" x1=\"38.6302\" y1=\"42.4943\" x2=\"57.2981\" y2=\"18.2496\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#84CFF1\"></stop><stop offset=\"1\" stop-color=\"white\"></stop></linearGradient><clipPath id=\"clip0_7071_1234\"><rect width=\"300\" height=\"47\" fill=\"white\" transform=\"translate(0 0.5)\"></rect></clipPath></defs></svg>\n\n          <span class=\"badge rounded-pill brand-pill\">Job Management</span>\n        </div>\n        <!-- Logout button -->\n        <a href=\"/webhook/higgins/auth-logout\"\n           class=\"btn btn-outline-light d-flex align-items-center\"\n           title=\"Sign out\"\n           aria-label=\"Sign out\">\n        \n          <!-- User icon -->\n          <svg xmlns=\"http://www.w3.org/2000/svg\"\n               width=\"18\"\n               height=\"18\"\n               fill=\"currentColor\"\n               class=\"me-1\"\n               viewBox=\"0 0 16 16\">\n            <path d=\"M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3z\" />\n            <path d=\"M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6z\" />\n          </svg>\n          Sign Out\n        </a>\n      </div>\n    </div>\n  </header>\n\n  <!-- BODY (single, shared) -->\n  <main class=\"container py-4\">\n    <!-- your existing shared body unchanged -->\n    <div class=\"row justify-content-center\">\n      <div class=\"col-9\">\n\n        <div class=\"card shadow-sm\">\n          <div class=\"card-body p-4\">\n\n            <h1 class=\"mb-4 display-4\">{{ $json.pageTitle ?? '' }}</h1>\n\n            {{ $json.html ?? '' }}\n          </div>\n        </div>\n\n      </div>\n    </div>\n  </main>\n\n</body>\n\n</html>"
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node (Run once for each item) or (Run once for all items)\n// This version works for either mode because it maps over $input.all().\n\nconst items = $input.all();\n\n// Matches: <!-- #varname 'quoted value' -->\n// - varname: [A-Za-z_][A-Za-z0-9_]*\n// - value: single-quoted, supports escaped \\' inside\nconst directiveRegex =\n  /<!--\\s*#([A-Za-z_][A-Za-z0-9_]*)\\s*'((?:\\\\'|[^'])*)'\\s*-->/g;\n\nfunction unescapeSingleQuoted(s) {\n  // handle \\' and \\\\ (basic but practical)\n  return s.replace(/\\\\'/g, \"'\").replace(/\\\\\\\\/g, \"\\\\\");\n}\n\nreturn items.map((item) => {\n  const json = { ...item.json };\n\n  const html = typeof json.html === \"string\" ? json.html : \"\";\n  if (!html) return item; // nothing to do\n\n  const extracted = {};\n  const cleanedHtml = html.replace(directiveRegex, (full, varName, rawValue) => {\n    extracted[varName] = unescapeSingleQuoted(rawValue);\n    return \"\"; // remove directive comment\n  });\n\n  // Optionally trim the resulting HTML (keeps output tidy)\n  json.html = cleanedHtml.trim();\n\n  // Merge extracted vars onto payload (extracted takes precedence)\n  Object.assign(json, extracted);\n\n  return { ...item, json };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -448,
          192
        ],
        "id": "d34933d5-6b2b-4225-b251-f44f1725fb2d",
        "name": "Extract variables"
      },
      {
        "parameters": {
          "html": "<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\n  <style>\n    /* ==============================\n       Email-safe CSS (Higgins theme)\n       ============================== */\n\n    body{\n      margin:0;\n      padding:0;\n      background:#f8f9fa;\n      color:#212529;\n      font-family: Arial, Helvetica, sans-serif;\n      line-height:1.5;\n      -webkit-text-size-adjust:100%;\n    }\n\n    a{\n      color:#1E6E8C;\n      text-decoration:none;\n    }\n    a:hover{\n      text-decoration:underline;\n    }\n\n    img{\n      border:0;\n      display:block;\n      height:auto;\n    }\n\n    .container{\n      max-width:720px;\n      margin:0 auto;\n      padding-left:16px;\n      padding-right:16px;\n    }\n\n    .py-4{\n      padding-top:24px;\n      padding-bottom:24px;\n    }\n\n    .p-4{\n      padding:24px;\n    }\n\n    .card{\n      background:#ffffff;\n      border:1px solid #dee2e6;\n      border-radius:12px;\n    }\n\n    .shadow-sm{\n      box-shadow:0 .125rem .25rem rgba(0,0,0,.075);\n    }\n\n    .card-body{\n      padding:24px;\n    }\n\n    .text-muted{\n      color:#6c757d;\n    }\n\n    .alert{\n      padding:16px;\n      border-radius:8px;\n      border:1px solid transparent;\n    }\n    .alert-info{\n      background:#cff4fc;\n      border-color:#b6effb;\n      color:#055160;\n    }\n    .alert-success{\n      background:#d1e7dd;\n      border-color:#badbcc;\n      color:#0f5132;\n    }\n    .alert-warning{\n      background:#fff3cd;\n      border-color:#ffecb5;\n      color:#664d03;\n    }\n\n    .rounded-pill{\n      border-radius:999px;\n    }\n\n    /* Brand */\n    .brand-header{\n      padding:24px 16px 8px 16px;\n    }\n\n    .brand-bar{\n      border:1px solid rgba(30,110,140,0.18);\n      border-radius:16px;\n      padding:16px;\n      background:#1E6E8C;\n    }\n\n    .brand-card{\n      border-top:4px solid #1E6E8C;\n    }\n\n    .header-title{\n      font-size:34px;\n      font-weight:300;\n      line-height:1.15;\n      color:#ffffff;\n      margin:0;\n    }\n\n    .header-badge{\n      display:inline-block;\n      padding:6px 10px;\n      border-radius:999px;\n      font-size:12px;\n      line-height:1.2;\n      font-weight:700;\n      white-space:nowrap;\n    }\n\n    .header-badge--muted{\n      background:#6c757d;\n      color:#ffffff;\n    }\n\n    .header-badge--info{\n      background:#d9f0f7;\n      color:#114b5f;\n    }\n\n    img.logo{\n      height:28px !important;\n      width:auto !important;\n      max-height:28px !important;\n      max-width:none !important;\n      display:block !important;\n    }\n\n    /* Content defaults */\n    dl{\n      margin:0;\n    }\n    dt{\n      font-weight:700;\n      margin-top:14px;\n      margin-bottom:2px;\n      font-size:14px;\n      color:#212529;\n    }\n    dd{\n      margin:0 0 10px 0;\n      font-size:14px;\n      color:#495057;\n    }\n\n    ol{\n      padding-left:20px;\n      margin:0;\n    }\n    li{\n      margin-bottom:14px;\n    }\n\n    p{\n      margin-top:0;\n      margin-bottom:14px;\n    }\n\n    hr{\n      border:0;\n      border-top:1px solid #adb5bd;\n      margin:14px 0 10px 0;\n    }\n\n    .button{\n      display:inline-block;\n      padding:10px 14px;\n      background-color:#B6C931;\n      color:#355200 !important;\n      border:1px solid #8ea11f;\n      border-radius:6px;\n      font-size:14px;\n      font-weight:700;\n      text-decoration:none;\n      white-space:nowrap;\n    }\n    .button:hover{\n      text-decoration:none;\n    }\n\n    .brand-ink{\n      color:#B6C931;\n    }\n\n    .hgs-module{\n      border:1px solid rgba(0,0,0,.10);\n      border-radius:14px;\n      background:#fff;\n      box-shadow:0 1px 2px rgba(0,0,0,.04);\n      overflow:hidden;\n    }\n\n    .hgs-module__header{\n      padding:10px 12px;\n      background:rgba(0,0,0,.02);\n      border-bottom:1px solid rgba(0,0,0,.08);\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      gap:10px;\n    }\n\n    .hgs-module__title{\n      display:flex;\n      align-items:center;\n      gap:8px;\n      font-weight:600;\n    }\n\n    .hgs-module__count{\n      font-size:12px;\n      opacity:.7;\n      white-space:nowrap;\n    }\n  </style>\n</head>\n\n<body>\n\n  <!-- HEADER -->\n  <div class=\"brand-header\">\n    <div class=\"container\">\n      <div class=\"brand-bar shadow-sm\">\n        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n          <tr>\n            <td style=\"vertical-align:middle; padding-bottom:18px;\">\n              <img class=\"logo\" src=\"https://drflow.co.uk/wp-content/uploads/2026/02/martin-and-co-logo.png\" alt=\"Martin &amp; Co logo\" />\n            </td>\n          </tr>\n\n          <tr>\n            <td>\n              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n                <tr>\n                  <td style=\"vertical-align:top; padding-right:16px;\">\n                    <div class=\"header-title\">\n                      {{ $json.pageTitle ?? '' }}\n                    </div>\n                  </td>\n                  <td align=\"right\" style=\"vertical-align:top; white-space:nowrap;\">\n                    <div style=\"margin-bottom:6px;\">\n                      <span class=\"header-badge header-badge--muted\">\n                        Created: {{ $json.jobCreated ?? '' }}\n                      </span>\n                    </div>\n                    <div>\n                      <span class=\"header-badge header-badge--info\">\n                        Status: {{ $json.jobStatus ?? '' }}\n                      </span>\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n      </div>\n    </div>\n  </div>\n\n  <!-- BODY -->\n  <div class=\"container py-4\">\n    <div class=\"card shadow-sm brand-card\">\n      <div class=\"card-body p-4\">\n        {{ $json.html ?? '' }}\n      </div>\n    </div>\n  </div>\n\n</body>\n</html>"
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          -224,
          384
        ],
        "id": "1a4109b4-fd80-4775-bb13-634a5e0112ea",
        "name": "Generate Email"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 3,
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          224,
          176
        ],
        "id": "0c19bb1b-4157-406e-ac04-e1f17171835a",
        "name": "Merge"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "395d946f-3a09-4bec-b000-0464f1306623",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "html",
                "newKey": "emailHtml"
              }
            ]
          },
          "additionalOptions": {}
        },
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          0,
          384
        ],
        "id": "6d42a4d3-8b03-454e-b8bf-e1f20256497c",
        "name": "Rename Keys"
      }
    ],
    "activeVersion": {
      "nodes": [
        {
          "parameters": {
            "inputSource": "passthrough"
          },
          "type": "n8n-nodes-base.executeWorkflowTrigger",
          "typeVersion": 1.1,
          "position": [
            -672,
            192
          ],
          "id": "f11d73e7-9c11-41bb-b50e-206879d064de",
          "name": "When Executed by Another Workflow"
        },
        {
          "parameters": {
            "html": "<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>LISA Higgins: {{ ($json.pageTitle ?? '').replace(/<[^>]*>?/gm, '') }}</title>\n\n  <!-- Bootstrap 5 (CSS + JS bundle, no jQuery/Popper needed) -->\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\" />\n  <link rel=\"stylesheet\"\n        href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css\"\n        integrity=\"sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==\"\n        crossorigin=\"anonymous\"\n        referrerpolicy=\"no-referrer\" />\n  <script defer src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js\"></script>\n\n  <style>\n    :root {\n      --brand-accent: #1E6E8C;\n      --brand-ink: #B6C931;\n    }\n\n    body { color: var(--brand-ink); }\n    a { color: var(--brand-accent); text-decoration: none; }\n    a:hover { text-decoration: underline; }\n\n    .brand-bar {\n      background: var(--brand-accent);\n      border-bottom: 1px solid rgba(17, 24, 39, 0.08);\n      backdrop-filter: blur(6px);\n    }\n    .brand-bar .btn { white-space: nowrap; }\n\n    .brand-card { border-top: 4px solid var(--brand-accent); }\n\n    .brand-pill {\n      background: #7AC143;\n      color: #fff;\n      border: 1px solid #6AAF3A;\n    \n      font-weight: 700;\n      white-space: nowrap;\n    \n      display: inline-flex;\n      align-items: center;\n      line-height: 1;\n      padding: 0.35rem 0.65rem;\n      font-size: 0.75rem;\n    }\n\n    .brand-pill:hover {\n      background: #6AAF3A;\n      border-color: #5e9e33;\n    }\n\n    /* You have .header styles, but you use brand-header in markup; keep as-is */\n    .header { background: var(--brand-accent); padding: 24px 16px; }\n    .header-inner {\n      background-color: #ffffff;\n      border-radius: 12px;\n      padding: 16px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n\n    ol { padding-left: 20px; }\n    li { margin-bottom: 14px; }\n    dt { font-weight: bold; margin-top: 10px; }\n    dd { margin-left: 20px; margin-bottom: 8px; color: #4b5563; }\n\n    /* ---- Mobile enhancements (do not affect desktop experience) ---- */\n    .brand-bar { display:flex; gap: 12px; flex-wrap: wrap; }\n    .logo-wrap { display:flex; align-items:center; gap: 12px; min-width: 0; }\n    .martin-co-logo-transparent { max-width: 100%; height: auto; }\n\n    @media (max-width: 576px) {\n      .brand-bar { align-items: stretch !important; }\n      .logo-wrap { width: 100%; justify-content: space-between; }\n      .brand-bar .btn { width: 100%; justify-content: center; }\n      .card-body { padding: 16px !important; }\n      h1.display-4 { font-size: 1.6rem; line-height: 1.2; }\n    }\n    \n    /* ===== TEXTAREA FIX ===== */\n    \n    textarea.form-control {\n      border-radius: 12px;\n      padding: 0.85rem 1rem;\n      font-size: 0.95rem;\n      line-height: 1.5;\n    \n      border: 1px solid #d1d5db;         /* softer border */\n      box-shadow: none;\n      transition: border-color .15s ease, box-shadow .15s ease;\n      \n      resize: vertical;                  /* only vertical resize */\n      min-height: 140px;\n    }\n    \n    /* Focus state aligned to brand */\n    textarea.form-control:focus {\n      border-color: var(--brand-accent);\n      box-shadow: 0 0 0 0.2rem rgba(30,110,140,0.15);\n    }\n    \n    /* Remove harsh inner shadow on some browsers */\n    textarea.form-control:focus-visible {\n      outline: none;\n    }\n    \n    /* Improve spacing under label */\n    label + textarea.form-control {\n      margin-top: 0.25rem;\n    }\n    \n    /* Optional: slightly lighter background for read/edit areas */\n    textarea.form-control:not(:disabled) {\n      background-color: #fff;\n    }\n    \n    /* Disabled state */\n    textarea.form-control:disabled {\n      background-color: #f3f4f6;\n      opacity: 1;\n    }\n\n    .hidden\n    {\n      display: none;\n      visibility: hidden;\n    }\n\n    .hgs-module {\n      border: 1px solid rgba(0,0,0,.10);\n      border-radius: 14px;\n      background: #fff;\n      box-shadow: 0 1px 2px rgba(0,0,0,.04);\n      overflow: hidden;\n    }\n    .hgs-module__header {\n      padding: 10px 12px;\n      background: rgba(0,0,0,.02);\n      border-bottom: 1px solid rgba(0,0,0,.08);\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      gap: 10px;\n    }\n    .hgs-module__title {\n      display:flex; align-items:center; gap:8px;\n      font-weight: 600;\n    }\n    .hgs-module__count {\n      font-size: 12px;\n      opacity: .7;\n      white-space: nowrap;\n    }\n    \n    .hgs-module__toggle {\n      width: 100%;\n      border: 0;\n      background: transparent;\n      padding: 0;\n      text-align: inherit;\n      color: inherit;\n    }\n    .hgs-module__toggle:hover {\n      opacity: .92;\n    }\n    .hgs-module__toggleIcon {\n      transition: transform .15s ease;\n    }\n    .hgs-module__toggle[aria-expanded=\"true\"] .hgs-module__toggleIcon {\n      transform: rotate(180deg);\n    }\n</style>\n</head>\n\n<body class=\"bg-light\">\n\n  <!-- Branded header -->\n  <header class=\"brand-header py-4\">\n    <div class=\"container\">\n      <div class=\"brand-bar rounded-4 shadow-sm px-3 py-3 align-items-center justify-content-between\">\n        <div class=\"logo-wrap\">\n          <!-- logo -->\n          <img src=\"https://drflow.co.uk/wp-content/uploads/2026/02/martin-and-co-logo.png\" alt=\"Martin & Co logo\" />\n        </div>\n\n        <!-- Logout button -->\n{{\n  (() => {\n    const email = String($json.userEmail ?? '').trim();\n    if (!email) return '';\n\n    const beforeAt = email.split('@')[0] || '';\n    const parts = beforeAt.split('.').filter(Boolean);\n\n    let firstName = parts[0] || 'User';\n    firstName = firstName.charAt(0).toUpperCase() + firstName.slice(1).toLowerCase();\n\n    const esc = (s) => String(s)\n      .replace(/&/g, '&amp;')\n      .replace(/</g, '&lt;')\n      .replace(/>/g, '&gt;')\n      .replace(/\"/g, '&quot;')\n      .replace(/'/g, '&#39;');\n\n    return `\n      <a href=\"/webhook/higgins/auth-logout\"\n         class=\"brand-pill\"\n         title=\"Sign out\"\n         aria-label=\"Sign out\"\n         style=\"\n           gap:6px;\n           border-radius:999px;\n           text-decoration:none;\n         \">\n\n        <span style=\"display:flex;align-items:center;font-size:13px;\">\n          <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"14\" height=\"14\" fill=\"currentColor\" viewBox=\"0 0 16 16\">\n            <path d=\"M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3z\"/>\n            <path d=\"M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6z\"/>\n          </svg>\n        </span>\n\n        <span>${esc(firstName)}</span>\n      </a>\n    `;\n  })()\n}}\n      </div>\n    </div>\n  </header>\n\n  <!-- BODY (single, shared) -->\n  <main class=\"container py-4\">\n    <div class=\"row justify-content-center\">\n      <!-- Desktop remains effectively \"col-9\"; mobile gets full width -->\n      <div class=\"col-12 col-md-10 col-lg-9\">\n\n        <div class=\"card shadow-sm brand-card\">\n          <div class=\"card-body p-4\">\n            <h1 class=\"mb-4 display-4 d-flex justify-content-between align-items-center\">\n              <!-- Left Side: Title -->\n              <span>{{ $json.pageTitle ?? '' }}</span>\n            \n              <!-- Right Side: Stacked Badges -->\n              <div class=\"d-flex flex-column align-items-end\">\n                <span class=\"badge fs-6 fw-light bg-secondary text-light mb-1\">\n                  Created: {{ $json.jobCreated ?? '' }}\n                </span>\n                <span class=\"badge fs-6 fw-light bg-info text-dark\">\n                  Status: {{ $json.jobStatus ?? '' }}\n                </span>\n              </div>\n            </h1>\n            \n            {{ $json.html ?? '' }}\n          </div>\n        </div>\n\n      </div>\n    </div>\n  </main>\n\n<!-- LISA Help floating button -->\n<a\n  href=\"https://app.startinfinity.com/form/PLcQMJhx8Ny\"\n  target=\"_blank\"\n  rel=\"noopener\"\n  class=\"lisa-help-fab\"\n>\n  <img\n    src=\"https://i.ibb.co/1tsJGnYp/lisa-profile-100px-round-smooth.png\"\n    alt=\"Help\"\n    class=\"lisa-help-fab__img\"\n  />\n  <span class=\"lisa-help-fab__label\">Help</span>\n</a>\n\n<style>\n  .lisa-help-fab {\n    position: fixed;\n    right: 20px;\n    bottom: 20px;\n    z-index: 1100;\n    display: inline-flex;\n    align-items: center;\n    gap: 10px;\n    padding: 10px 14px 10px 10px;\n    background: #ffffff;\n    color: #1f2937;\n    text-decoration: none;\n    border-radius: 999px;\n    box-shadow: 0 10px 30px rgba(0,0,0,.18);\n    border: 1px solid rgba(0,0,0,.08);\n    transition: transform .12s ease, box-shadow .12s ease, opacity .12s ease;\n  }\n\n  .lisa-help-fab:hover {\n    transform: translateY(-1px);\n    box-shadow: 0 14px 36px rgba(0,0,0,.22);\n    text-decoration: none;\n    color: #1f2937;\n  }\n\n  .lisa-help-fab:active {\n    transform: translateY(0);\n  }\n\n  .lisa-help-fab__img {\n    width: 42px;\n    height: 42px;\n    border-radius: 50%;\n    object-fit: cover;\n    display: block;\n    border: 2px solid #fff;\n    box-shadow: 0 2px 8px rgba(0,0,0,.12);\n    flex: 0 0 42px;\n  }\n\n  .lisa-help-fab__label {\n    font-weight: 600;\n    font-size: 14px;\n    line-height: 1;\n    white-space: nowrap;\n  }\n\n  @media (max-width: 576px) {\n    .lisa-help-fab {\n      right: 14px;\n      bottom: 14px;\n      padding: 8px;\n      border-radius: 50%;\n    }\n\n    .lisa-help-fab__label {\n      display: none;\n    }\n  }\n</style>\n</body>\n</html>"
          },
          "type": "n8n-nodes-base.html",
          "typeVersion": 1.2,
          "position": [
            0,
            192
          ],
          "id": "ed1688c1-ddda-42e5-bf4d-94f0cf9bcc60",
          "name": "Generate HTML",
          "notes": "=<!doctype html>\n<html lang=\"en\">\n\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>LISA Higgins: {{ ($json.pageTitle ?? '').replace(/<[^>]*>?/gm, '') }}</title>\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\" />\n  \n  <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js\"></script>\n  <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js\"></script>\n  \n  <style>\n    :root {\n      --brand-accent: #1E6E8C;\n      --brand-ink: #B6C931;\n    }\n\n    body {\n      color: var(--brand-ink);\n    }\n    \n    .brand-bar {\n      background: var(--brand-accent);\n      border-bottom: 1px solid rgba(17, 24, 39, 0.08);\n      backdrop-filter: blur(6px);\n    }\n\n    .brand-bar .btn {\n      white-space: nowrap;\n    }\n    \n    .brand-card {\n      border-top: 4px solid var(--brand-accent);\n    }\n\n    .brand-pill {\n      background: rgba(214, 27, 62, 0.10);\n      color: var(--brand-accent);\n      border: 1px solid rgba(214, 27, 62, 0.25);\n      font-weight: 600;\n    }\n\n    a {\n      color: var(--brand-accent);\n      text-decoration: none;\n    }\n\n    a:hover {\n      text-decoration: underline;\n    }\n\n    .card-body {\n      padding: 24px;\n    }\n\n    .header {\n      background: var(--brand-accent);\n      padding: 24px 16px;\n    }\n\n    .header-inner {\n      background-color: #ffffff;\n      border-radius: 12px;\n      padding: 16px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n\n    .badge {\n      display: inline-block;\n      padding: 4px 10px;\n      font-size: 12px;\n      font-weight: bold;\n      color: var(--brand-accent-2);\n      background-color: rgba(214, 27, 62, 0.1);\n      border: 1px solid rgba(214, 27, 62, 0.25);\n      border-radius: 999px;\n    }\n\n    ol {\n      padding-left: 20px;\n    }\n\n    li {\n      margin-bottom: 14px;\n    }\n\n    dt {\n      font-weight: bold;\n      margin-top: 10px;\n    }\n\n    dd {\n      margin-left: 0;\n      margin-left: 20px;\n      margin-bottom: 8px;\n      color: #4b5563;\n    }\n  </style>\n</head>\n\n<body class=\" bg-light\">\n\n  <!-- Branded header -->\n  <header class=\"brand-header py-4\">\n    <div class=\"container\">\n      <div class=\"brand-bar rounded-4 shadow-sm px-3 py-3 d-flex align-items-center justify-content-between\">\n        <div class=\"logo-wrap\">\n         <svg xmlns=\"http://www.w3.org/2000/svg\" class=\"martin-co-logo-transparent\" width=\"300\" height=\"48\" viewBox=\"0 0 300 48\" fill=\"none\"><g clip-path=\"url(#clip0_7071_1234)\"><mask id=\"mask0_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"0\" y=\"17\" width=\"36\" height=\"22\"><path d=\"M0 17.3906L11.8176 31.0147L35.1353 38.805L22.3588 28.0361L0 17.3906Z\" fill=\"white\"></path></mask><g mask=\"url(#mask0_7071_1234)\"><path d=\"M35.1353 17.3979H0V38.8123H35.1353V17.3979Z\" fill=\"url(#paint0_linear_7071_1234)\"></path></g><mask id=\"mask1_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"8\" y=\"31\" width=\"28\" height=\"9\"><path d=\"M8.05273 32.3718L31.4704 39.4218L35.1351 38.8049L11.8174 31.0146L8.05273 32.3718Z\" fill=\"white\"></path></mask><g mask=\"url(#mask1_7071_1234)\"><path d=\"M35.1273 31.0146H8.04492V39.4218H35.1273V31.0146Z\" fill=\"url(#paint1_linear_7071_1234)\"></path></g><mask id=\"mask2_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"8\" y=\"32\" width=\"24\" height=\"14\"><path d=\"M8.07617 45.5083C13.7821 42.612 22.235 40.685 31.4938 40.5146V39.4277L8.07617 32.3718V45.5083Z\" fill=\"white\"></path></mask><g mask=\"url(#mask2_7071_1234)\"><path d=\"M22.7584 21.0518L1.72461 37.2473L16.7983 56.7752L37.8321 40.5797L22.7584 21.0518Z\" fill=\"url(#paint2_linear_7071_1234)\"></path></g><path d=\"M51.358 14.5764L47.2109 13.3368L47.2403 7.42651L51.358 8.93051V14.5764Z\" fill=\"#1E6E8C\"></path><path d=\"M43.0879 14.7526L47.2114 13.3368L47.235 7.42651L43.2055 9.92926L43.0879 14.7526Z\" fill=\"#BDE2F3\"></path><path d=\"M73.3006 0.5L37.1829 16.198L18.3477 32.084L55.8771 20.5925L73.3006 0.5Z\" fill=\"#BDE2F3\"></path><path d=\"M55.8771 20.5925L18.3477 32.084L23.7477 32.9947L61.4359 22.6018L55.8771 20.5925Z\" fill=\"#1E6E8C\"></path><mask id=\"mask3_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"23\" y=\"22\" width=\"39\" height=\"26\"><path d=\"M23.7462 33.0006L23.7109 41.0787C26.7442 40.6873 29.7995 40.491 32.858 40.4912C44.8815 40.4912 55.7992 43.37 61.4697 47.6646L61.4345 22.5901L23.7462 33.0006Z\" fill=\"white\"></path></mask><g mask=\"url(#mask3_7071_1234)\"><path d=\"M37.7683 4.39235L11.5645 38.3394L47.3662 65.9058L73.57 31.9588L37.7683 4.39235Z\" fill=\"url(#paint3_linear_7071_1234)\"></path></g><mask id=\"mask4_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"0\" y=\"17\" width=\"36\" height=\"22\"><path d=\"M0 17.3906L11.8176 31.0147L35.1353 38.805L22.3588 28.0361L0 17.3906Z\" fill=\"white\"></path></mask><g mask=\"url(#mask4_7071_1234)\"><path d=\"M35.1353 17.3979H0V38.8123H35.1353V17.3979Z\" fill=\"url(#paint4_linear_7071_1234)\"></path></g><mask id=\"mask5_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"8\" y=\"31\" width=\"28\" height=\"9\"><path d=\"M8.05273 32.3718L31.4704 39.4218L35.1351 38.8049L11.8174 31.0146L8.05273 32.3718Z\" fill=\"white\"></path></mask><g mask=\"url(#mask5_7071_1234)\"><path d=\"M35.1273 31.0146H8.04492V39.4218H35.1273V31.0146Z\" fill=\"url(#paint5_linear_7071_1234)\"></path></g><mask id=\"mask6_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"8\" y=\"32\" width=\"24\" height=\"14\"><path d=\"M8.07617 45.5083C13.7821 42.612 22.235 40.685 31.4938 40.5146V39.4277L8.07617 32.3718V45.5083Z\" fill=\"white\"></path></mask><g mask=\"url(#mask6_7071_1234)\"><path d=\"M22.7584 21.0518L1.72461 37.2473L16.7983 56.7752L37.8321 40.5797L22.7584 21.0518Z\" fill=\"url(#paint6_linear_7071_1234)\"></path></g><path d=\"M51.358 14.5764L47.2109 13.3368L47.2403 7.42651L51.358 8.93051V14.5764Z\" fill=\"#006893\"></path><path d=\"M43.0879 14.7526L47.2114 13.3368L47.235 7.42651L43.2055 9.92926L43.0879 14.7526Z\" fill=\"#84CFF1\"></path><path d=\"M73.3006 0.5L37.1829 16.198L18.3477 32.084L55.8771 20.5925L73.3006 0.5Z\" fill=\"#84CFF1\"></path><path d=\"M55.8771 20.5925L18.3477 32.084L23.7477 32.9947L61.4359 22.6018L55.8771 20.5925Z\" fill=\"#006893\"></path><mask id=\"mask7_7071_1234\" style=\"mask-type:luminance\" maskUnits=\"userSpaceOnUse\" x=\"23\" y=\"22\" width=\"39\" height=\"26\"><path d=\"M23.7462 33.0006L23.7109 41.0787C26.7442 40.6873 29.7995 40.491 32.858 40.4912C44.8815 40.4912 55.7992 43.37 61.4697 47.6646L61.4345 22.5901L23.7462 33.0006Z\" fill=\"white\"></path></mask><g mask=\"url(#mask7_7071_1234)\"><path d=\"M37.7683 4.39235L11.5645 38.3394L47.3662 65.9058L73.57 31.9588L37.7683 4.39235Z\" fill=\"url(#paint7_linear_7071_1234)\"></path></g><path class=\"martin-co-logo-text\" d=\"M84.7537 30.7033C84.7537 32.5951 85.3419 33.7583 86.5831 34.2753H78.3184C79.5772 33.7583 80.1536 32.5951 80.1536 30.7033V17.4082C80.1536 15.5164 79.5654 14.3532 78.3184 13.8362H88.8478C88.6966 14.0483 88.6089 14.2989 88.5948 14.5588C88.63 14.8643 88.7031 15.1643 88.8125 15.4518L94.0242 30.0159L99.3183 15.3284C99.4091 15.1083 99.4704 14.8772 99.5007 14.6411C99.4909 14.3539 99.4057 14.0743 99.2536 13.8303H110.001C108.707 14.3826 108.201 15.5106 108.201 17.4023V30.6974C108.201 32.4188 108.53 33.4117 109.824 34.2694H101.46C102.824 33.3059 103.077 32.3483 103.077 30.6974V17.3553L96.9007 32.8653C96.8045 33.0836 96.743 33.3155 96.7184 33.5527C96.7288 33.8134 96.8168 34.065 96.9713 34.2753H90.8595C90.9424 34.0769 91.0036 33.87 91.0419 33.6584C91.0039 33.3763 90.9308 33.1 90.8242 32.8359L84.7537 16.9323V30.7033Z\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M136 30.6034L128.942 15.5164C128.78 15.2305 128.67 14.9182 128.618 14.594C128.68 14.3298 128.777 14.0749 128.906 13.8362H120.048C120.178 14.0582 120.264 14.3037 120.3 14.5588C120.263 14.8977 120.153 15.2244 119.977 15.5164L112.395 30.6034C111.772 31.9609 110.923 33.2026 109.883 34.2753H118.118C117.846 34.0433 117.63 33.7523 117.487 33.4245C117.345 33.0967 117.279 32.7407 117.295 32.3835C117.289 31.9271 117.373 31.474 117.542 31.0499L118.012 30.0512H130.336L130.924 31.3907C131.089 31.7811 131.175 32.2005 131.177 32.6244C131.168 32.9398 131.092 33.2498 130.956 33.5342C130.819 33.8186 130.624 34.0711 130.383 34.2753H138.506C137.461 33.2059 136.609 31.9636 135.989 30.6034M119.748 26.3382L124.071 16.7678L128.706 26.3147L119.748 26.3382Z\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M145.723 30.7034V26.5145H148.199C149.2 26.4821 150.195 26.6822 151.106 27.0992C152.016 27.5161 152.818 28.1385 153.446 28.9174C154.917 30.6329 155.605 32.0429 155.605 33.0769C155.587 33.3081 155.519 33.5326 155.407 33.7354C155.294 33.9381 155.139 34.1143 154.952 34.2519H164.135C162.123 32.9476 161.152 30.956 159.823 28.9996C158.852 27.5544 157.917 26.3852 156.087 25.5921C159.864 24.9106 161.911 22.7428 161.911 19.8581C161.95 18.6112 161.571 17.3869 160.835 16.3792C160.099 15.3714 159.047 14.6378 157.846 14.2945C156.264 13.8127 154.076 13.8127 151.311 13.8127H138.699C139.952 14.365 140.493 15.4636 140.493 17.3377V30.6975C140.493 32.5892 139.987 33.7173 138.699 34.2695H147.57C146.311 33.7525 145.74 32.5892 145.74 30.6975M145.74 23.0012V17.3554H151.452C154.864 17.3554 156.299 17.9429 156.299 20.1695C156.299 22.3961 154.864 23.0189 151.452 23.0189L145.74 23.0012Z\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M172.33 31.8374V17.3555H171.288C168.347 17.3555 165.859 17.7021 163.453 19.118C164.177 16.5389 164.783 15.1289 164.783 14.6824C164.742 14.38 164.618 14.095 164.424 13.8599H185.553C185.341 14.0841 185.212 14.3745 185.188 14.6824C185.188 15.0995 185.777 16.5036 186.524 19.118C184.118 17.708 181.635 17.3555 178.688 17.3555H177.571V30.7211C177.571 32.4014 178.33 33.8819 179.512 34.2931H170.6C171.091 34.094 171.515 33.7586 171.822 33.3266C172.128 32.8945 172.304 32.3839 172.33 31.855\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M194.506 17.4084V30.7036C194.506 32.5953 195.041 33.7292 196.335 34.2755H187.488C188.782 33.7292 189.288 32.5953 189.288 30.7036V17.4084C189.288 15.5225 188.782 14.3887 187.488 13.8364H196.312C195.018 14.3887 194.482 15.5225 194.482 17.4084\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M205.1 30.7036C205.135 32.5953 205.535 33.641 206.935 34.2755H198.488C199.782 33.7292 200.282 32.5953 200.282 30.7036V17.4084C200.282 15.5167 199.782 14.3887 198.488 13.8364H208.947C208.835 13.9893 208.76 14.1664 208.729 14.3534C208.781 14.6208 208.878 14.8773 209.018 15.1113L217.359 30.5332L217.277 17.4084C217.277 15.5167 216.688 14.3534 215.412 13.8364H223.647C221.959 14.6237 221.924 15.7928 221.924 17.3614V32.5424C221.887 32.8546 221.912 33.171 221.998 33.4734C222.084 33.7758 222.228 34.0584 222.424 34.3049H213.835C213.975 34.1265 214.063 33.913 214.088 33.688C214.037 33.4427 213.939 33.2094 213.8 33.0007L204.747 17.097L205.106 30.7329\" fill=\"white\"></path><path d=\"M243.752 30.9444C244.13 31.4593 244.354 32.0703 244.399 32.7069C244.367 33.2791 244.162 33.8283 243.811 34.2814H250.24C249.128 32.7715 249.452 29.9221 246.328 27.4076C247.223 25.7626 248.093 25.2162 249.776 25.2162C250.134 25.2162 250.493 25.2515 250.893 25.2809C250.493 25.04 250.458 24.5289 250.458 23.6652V22.8427C250.458 22.361 250.493 22.0908 250.893 21.8793H242.134C242.577 22.4707 242.849 23.1715 242.923 23.9061C242.905 24.2524 242.819 24.5918 242.67 24.9049C236.387 22.1201 232.934 21.092 232.934 19.2003C232.934 18.0253 234.264 17.003 236.558 17.003C238.54 17.003 241.017 17.7256 244.205 18.9241V13.7071C243.902 13.9314 243.54 14.0621 243.164 14.0831C241.546 14.0831 239.352 13.3958 236.664 13.3958C230.552 13.3958 227.317 15.4931 227.317 18.789C227.324 19.4642 227.488 20.1285 227.794 20.7306C228.1 21.3327 228.54 21.8564 229.081 22.2611C226.246 23.1835 224.734 25.04 224.734 27.6544C224.734 31.9137 228.293 34.7631 234.44 34.7631C238.605 34.7631 241.552 33.5881 243.781 30.9503M240.764 28.3711C239.94 29.9574 237.564 31.1559 235.123 31.1559C232.246 31.1559 230.128 29.4697 230.128 27.5486C230.176 26.9006 230.377 26.2731 230.714 25.7176C231.052 25.1621 231.516 24.6943 232.07 24.3526C234.187 25.5276 237.17 26.7026 240.764 28.3711Z\" fill=\"#84CFF1\"></path><path class=\"martin-co-logo-text\" d=\"M272.006 34.0697C270.424 34.0697 267.841 34.7571 264.5 34.7571C256.882 34.7571 252.5 30.9442 252.5 24.3466C252.5 17.749 257.488 13.3604 265.506 13.3604C269.171 13.3604 271.718 14.1828 273.118 14.1828C273.516 14.1537 273.91 14.0828 274.294 13.9713L272.382 19.0591C270.407 17.7606 268.088 17.0795 265.724 17.1027C261.018 17.1027 258.106 20.0402 258.106 24.1057C258.106 28.606 260.618 31.0147 265.4 31.0147C268.094 31.0147 270.694 30.2216 273.588 28.8527V34.3929C273.082 34.2008 272.547 34.0955 272.006 34.0815\" fill=\"white\"></path><path class=\"martin-co-logo-text\" d=\"M300.141 24.0705C300.141 17.3436 295.576 13.3604 287.565 13.3604C279.765 13.3604 275.023 17.8253 275.023 24.3113C275.023 30.7033 279.553 34.7923 287.565 34.7923C295.359 34.7923 300.141 30.2568 300.141 24.0705ZM287.276 31.0147C283.035 31.0147 280.559 28.6118 280.559 24.4171C280.559 19.7465 283.182 17.1027 287.853 17.1027C292.094 17.1027 294.565 19.5056 294.565 23.765C294.565 28.3651 291.912 31.0147 287.276 31.0147Z\" fill=\"white\"></path></g><defs><linearGradient id=\"paint0_linear_7071_1234\" x1=\"0.0114706\" y1=\"28.8004\" x2=\"28.1869\" y2=\"28.8004\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#FFF490\"></stop><stop offset=\"0.01\" stop-color=\"#F6F08A\"></stop><stop offset=\"0.08\" stop-color=\"#D3DF73\"></stop><stop offset=\"0.14\" stop-color=\"#B7D261\"></stop><stop offset=\"0.21\" stop-color=\"#A3C954\"></stop><stop offset=\"0.27\" stop-color=\"#97C34D\"></stop><stop offset=\"0.34\" stop-color=\"#93C14A\"></stop><stop offset=\"0.74\" stop-color=\"#57893A\"></stop><stop offset=\"1\" stop-color=\"#27602A\"></stop></linearGradient><linearGradient id=\"paint1_linear_7071_1234\" x1=\"8.02822\" y1=\"35.171\" x2=\"35.0923\" y2=\"35.171\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#93C14A\"></stop><stop offset=\"0.29\" stop-color=\"#57893A\"></stop><stop offset=\"0.55\" stop-color=\"#004C23\"></stop><stop offset=\"1\" stop-color=\"#004C23\"></stop></linearGradient><linearGradient id=\"paint2_linear_7071_1234\" x1=\"28.2595\" y1=\"52.1777\" x2=\"13.1883\" y2=\"32.604\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#195D2B\"></stop><stop offset=\"0.39\" stop-color=\"#57893A\"></stop><stop offset=\"0.75\" stop-color=\"#93C14A\"></stop><stop offset=\"1\" stop-color=\"#C6D200\"></stop></linearGradient><linearGradient id=\"paint3_linear_7071_1234\" x1=\"38.6302\" y1=\"42.4943\" x2=\"57.2981\" y2=\"18.2496\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#40BDE0\"></stop><stop offset=\"1\" stop-color=\"white\"></stop></linearGradient><linearGradient id=\"paint4_linear_7071_1234\" x1=\"0.0114706\" y1=\"28.8004\" x2=\"28.1869\" y2=\"28.8004\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#FFF490\"></stop><stop offset=\"0.01\" stop-color=\"#F6F08A\"></stop><stop offset=\"0.08\" stop-color=\"#D3DF73\"></stop><stop offset=\"0.14\" stop-color=\"#B7D261\"></stop><stop offset=\"0.21\" stop-color=\"#A3C954\"></stop><stop offset=\"0.27\" stop-color=\"#97C34D\"></stop><stop offset=\"0.34\" stop-color=\"#93C14A\"></stop><stop offset=\"0.74\" stop-color=\"#57893A\"></stop><stop offset=\"1\" stop-color=\"#27602A\"></stop></linearGradient><linearGradient id=\"paint5_linear_7071_1234\" x1=\"8.02822\" y1=\"35.171\" x2=\"35.0923\" y2=\"35.171\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#93C14A\"></stop><stop offset=\"0.29\" stop-color=\"#57893A\"></stop><stop offset=\"0.55\" stop-color=\"#004C23\"></stop><stop offset=\"1\" stop-color=\"#004C23\"></stop></linearGradient><linearGradient id=\"paint6_linear_7071_1234\" x1=\"28.2595\" y1=\"52.1777\" x2=\"13.1883\" y2=\"32.604\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#195D2B\"></stop><stop offset=\"0.39\" stop-color=\"#57893A\"></stop><stop offset=\"0.75\" stop-color=\"#93C14A\"></stop><stop offset=\"1\" stop-color=\"#C6D200\"></stop></linearGradient><linearGradient id=\"paint7_linear_7071_1234\" x1=\"38.6302\" y1=\"42.4943\" x2=\"57.2981\" y2=\"18.2496\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"#84CFF1\"></stop><stop offset=\"1\" stop-color=\"white\"></stop></linearGradient><clipPath id=\"clip0_7071_1234\"><rect width=\"300\" height=\"47\" fill=\"white\" transform=\"translate(0 0.5)\"></rect></clipPath></defs></svg>\n\n          <span class=\"badge rounded-pill brand-pill\">Job Management</span>\n        </div>\n        <!-- Logout button -->\n        <a href=\"/webhook/higgins/auth-logout\"\n           class=\"btn btn-outline-light d-flex align-items-center\"\n           title=\"Sign out\"\n           aria-label=\"Sign out\">\n        \n          <!-- User icon -->\n          <svg xmlns=\"http://www.w3.org/2000/svg\"\n               width=\"18\"\n               height=\"18\"\n               fill=\"currentColor\"\n               class=\"me-1\"\n               viewBox=\"0 0 16 16\">\n            <path d=\"M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3z\" />\n            <path d=\"M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6z\" />\n          </svg>\n          Sign Out\n        </a>\n      </div>\n    </div>\n  </header>\n\n  <!-- BODY (single, shared) -->\n  <main class=\"container py-4\">\n    <!-- your existing shared body unchanged -->\n    <div class=\"row justify-content-center\">\n      <div class=\"col-9\">\n\n        <div class=\"card shadow-sm\">\n          <div class=\"card-body p-4\">\n\n            <h1 class=\"mb-4 display-4\">{{ $json.pageTitle ?? '' }}</h1>\n\n            {{ $json.html ?? '' }}\n          </div>\n        </div>\n\n      </div>\n    </div>\n  </main>\n\n</body>\n\n</html>"
        },
        {
          "parameters": {
            "jsCode": "// n8n Code node (Run once for each item) or (Run once for all items)\n// This version works for either mode because it maps over $input.all().\n\nconst items = $input.all();\n\n// Matches: <!-- #varname 'quoted value' -->\n// - varname: [A-Za-z_][A-Za-z0-9_]*\n// - value: single-quoted, supports escaped \\' inside\nconst directiveRegex =\n  /<!--\\s*#([A-Za-z_][A-Za-z0-9_]*)\\s*'((?:\\\\'|[^'])*)'\\s*-->/g;\n\nfunction unescapeSingleQuoted(s) {\n  // handle \\' and \\\\ (basic but practical)\n  return s.replace(/\\\\'/g, \"'\").replace(/\\\\\\\\/g, \"\\\\\");\n}\n\nreturn items.map((item) => {\n  const json = { ...item.json };\n\n  const html = typeof json.html === \"string\" ? json.html : \"\";\n  if (!html) return item; // nothing to do\n\n  const extracted = {};\n  const cleanedHtml = html.replace(directiveRegex, (full, varName, rawValue) => {\n    extracted[varName] = unescapeSingleQuoted(rawValue);\n    return \"\"; // remove directive comment\n  });\n\n  // Optionally trim the resulting HTML (keeps output tidy)\n  json.html = cleanedHtml.trim();\n\n  // Merge extracted vars onto payload (extracted takes precedence)\n  Object.assign(json, extracted);\n\n  return { ...item, json };\n});\n"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -448,
            192
          ],
          "id": "d34933d5-6b2b-4225-b251-f44f1725fb2d",
          "name": "Extract variables"
        },
        {
          "parameters": {
            "html": "<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\n  <style>\n    /* ==============================\n       Email-safe CSS (Higgins theme)\n       ============================== */\n\n    body{\n      margin:0;\n      padding:0;\n      background:#f8f9fa;\n      color:#212529;\n      font-family: Arial, Helvetica, sans-serif;\n      line-height:1.5;\n      -webkit-text-size-adjust:100%;\n    }\n\n    a{\n      color:#1E6E8C;\n      text-decoration:none;\n    }\n    a:hover{\n      text-decoration:underline;\n    }\n\n    img{\n      border:0;\n      display:block;\n      height:auto;\n    }\n\n    .container{\n      max-width:720px;\n      margin:0 auto;\n      padding-left:16px;\n      padding-right:16px;\n    }\n\n    .py-4{\n      padding-top:24px;\n      padding-bottom:24px;\n    }\n\n    .p-4{\n      padding:24px;\n    }\n\n    .card{\n      background:#ffffff;\n      border:1px solid #dee2e6;\n      border-radius:12px;\n    }\n\n    .shadow-sm{\n      box-shadow:0 .125rem .25rem rgba(0,0,0,.075);\n    }\n\n    .card-body{\n      padding:24px;\n    }\n\n    .text-muted{\n      color:#6c757d;\n    }\n\n    .alert{\n      padding:16px;\n      border-radius:8px;\n      border:1px solid transparent;\n    }\n    .alert-info{\n      background:#cff4fc;\n      border-color:#b6effb;\n      color:#055160;\n    }\n    .alert-success{\n      background:#d1e7dd;\n      border-color:#badbcc;\n      color:#0f5132;\n    }\n    .alert-warning{\n      background:#fff3cd;\n      border-color:#ffecb5;\n      color:#664d03;\n    }\n\n    .rounded-pill{\n      border-radius:999px;\n    }\n\n    /* Brand */\n    .brand-header{\n      padding:24px 16px 8px 16px;\n    }\n\n    .brand-bar{\n      border:1px solid rgba(30,110,140,0.18);\n      border-radius:16px;\n      padding:16px;\n      background:#1E6E8C;\n    }\n\n    .brand-card{\n      border-top:4px solid #1E6E8C;\n    }\n\n    .header-title{\n      font-size:34px;\n      font-weight:300;\n      line-height:1.15;\n      color:#ffffff;\n      margin:0;\n    }\n\n    .header-badge{\n      display:inline-block;\n      padding:6px 10px;\n      border-radius:999px;\n      font-size:12px;\n      line-height:1.2;\n      font-weight:700;\n      white-space:nowrap;\n    }\n\n    .header-badge--muted{\n      background:#6c757d;\n      color:#ffffff;\n    }\n\n    .header-badge--info{\n      background:#d9f0f7;\n      color:#114b5f;\n    }\n\n    img.logo{\n      height:28px !important;\n      width:auto !important;\n      max-height:28px !important;\n      max-width:none !important;\n      display:block !important;\n    }\n\n    /* Content defaults */\n    dl{\n      margin:0;\n    }\n    dt{\n      font-weight:700;\n      margin-top:14px;\n      margin-bottom:2px;\n      font-size:14px;\n      color:#212529;\n    }\n    dd{\n      margin:0 0 10px 0;\n      font-size:14px;\n      color:#495057;\n    }\n\n    ol{\n      padding-left:20px;\n      margin:0;\n    }\n    li{\n      margin-bottom:14px;\n    }\n\n    p{\n      margin-top:0;\n      margin-bottom:14px;\n    }\n\n    hr{\n      border:0;\n      border-top:1px solid #adb5bd;\n      margin:14px 0 10px 0;\n    }\n\n    .button{\n      display:inline-block;\n      padding:10px 14px;\n      background-color:#B6C931;\n      color:#355200 !important;\n      border:1px solid #8ea11f;\n      border-radius:6px;\n      font-size:14px;\n      font-weight:700;\n      text-decoration:none;\n      white-space:nowrap;\n    }\n    .button:hover{\n      text-decoration:none;\n    }\n\n    .brand-ink{\n      color:#B6C931;\n    }\n\n    .hgs-module{\n      border:1px solid rgba(0,0,0,.10);\n      border-radius:14px;\n      background:#fff;\n      box-shadow:0 1px 2px rgba(0,0,0,.04);\n      overflow:hidden;\n    }\n\n    .hgs-module__header{\n      padding:10px 12px;\n      background:rgba(0,0,0,.02);\n      border-bottom:1px solid rgba(0,0,0,.08);\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      gap:10px;\n    }\n\n    .hgs-module__title{\n      display:flex;\n      align-items:center;\n      gap:8px;\n      font-weight:600;\n    }\n\n    .hgs-module__count{\n      font-size:12px;\n      opacity:.7;\n      white-space:nowrap;\n    }\n  </style>\n</head>\n\n<body>\n\n  <!-- HEADER -->\n  <div class=\"brand-header\">\n    <div class=\"container\">\n      <div class=\"brand-bar shadow-sm\">\n        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n          <tr>\n            <td style=\"vertical-align:middle; padding-bottom:18px;\">\n              <img class=\"logo\" src=\"https://drflow.co.uk/wp-content/uploads/2026/02/martin-and-co-logo.png\" alt=\"Martin &amp; Co logo\" />\n            </td>\n          </tr>\n\n          <tr>\n            <td>\n              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n                <tr>\n                  <td style=\"vertical-align:top; padding-right:16px;\">\n                    <div class=\"header-title\">\n                      {{ $json.pageTitle ?? '' }}\n                    </div>\n                  </td>\n                  <td align=\"right\" style=\"vertical-align:top; white-space:nowrap;\">\n                    <div style=\"margin-bottom:6px;\">\n                      <span class=\"header-badge header-badge--muted\">\n                        Created: {{ $json.jobCreated ?? '' }}\n                      </span>\n                    </div>\n                    <div>\n                      <span class=\"header-badge header-badge--info\">\n                        Status: {{ $json.jobStatus ?? '' }}\n                      </span>\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n      </div>\n    </div>\n  </div>\n\n  <!-- BODY -->\n  <div class=\"container py-4\">\n    <div class=\"card shadow-sm brand-card\">\n      <div class=\"card-body p-4\">\n        {{ $json.html ?? '' }}\n      </div>\n    </div>\n  </div>\n\n</body>\n</html>"
          },
          "type": "n8n-nodes-base.html",
          "typeVersion": 1.2,
          "position": [
            -224,
            384
          ],
          "id": "1a4109b4-fd80-4775-bb13-634a5e0112ea",
          "name": "Generate Email"
        },
        {
          "parameters": {
            "mode": "combine",
            "combineBy": "combineByPosition",
            "numberInputs": 3,
            "options": {}
          },
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3.2,
          "position": [
            224,
            176
          ],
          "id": "0c19bb1b-4157-406e-ac04-e1f17171835a",
          "name": "Merge"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            0,
            0
          ],
          "id": "395d946f-3a09-4bec-b000-0464f1306623",
          "name": "No Operation, do nothing"
        },
        {
          "parameters": {
            "keys": {
              "key": [
                {
                  "currentKey": "html",
                  "newKey": "emailHtml"
                }
              ]
            },
            "additionalOptions": {}
          },
          "type": "n8n-nodes-base.renameKeys",
          "typeVersion": 1,
          "position": [
            0,
            384
          ],
          "id": "6d42a4d3-8b03-454e-b8bf-e1f20256497c",
          "name": "Rename Keys"
        }
      ],
      "connections": {
        "When Executed by Another Workflow": {
          "main": [
            [
              {
                "node": "Extract variables",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Generate HTML": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Extract variables": {
          "main": [
            [
              {
                "node": "Generate HTML",
                "type": "main",
                "index": 0
              },
              {
                "node": "Generate Email",
                "type": "main",
                "index": 0
              },
              {
                "node": "No Operation, do nothing",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Generate Email": {
          "main": [
            [
              {
                "node": "Rename Keys",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "No Operation, do nothing": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Rename Keys": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 2
              }
            ]
          ]
        }
      }
    },
    "tags": [],
    "meta": null,
    "parentFolderId": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:publish",
      "workflow:read",
      "workflow:share",
      "workflow:unpublish",
      "workflow:unshare",
      "workflow:update",
      "workflow:updateRedactionSetting"
    ],
    "canExecute": true
  },
  "triggerInfo": "This workflow has no production triggers (Schedule, Webhook, Form, or Chat). It can only be executed in manual mode."
}
