subflows/17 - DRKmI5JLEnYoULS1 - Higgins - Job edit POST.json
{
  "workflow": {
    "id": "DRKmI5JLEnYoULS1",
    "name": "Higgins: Job edit POST",
    "active": true,
    "isArchived": false,
    "versionId": "839bc97b-3265-4fbd-83bf-997efe3537f2",
    "activeVersionId": "839bc97b-3265-4fbd-83bf-997efe3537f2",
    "triggerCount": 0,
    "createdAt": "2026-03-16T17:58:11.301Z",
    "updatedAt": "2026-04-03T16:22:26.502Z",
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true,
      "binaryMode": "separate"
    },
    "connections": {
      "Resolve dot notation": {
        "main": [
          [
            {
              "node": "Switch input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Job repo": {
        "main": [
          [
            {
              "node": "Wrap result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch input": {
        "main": [
          [
            {
              "node": "Job repo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Quote repo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notes repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Quote repo": {
        "main": [
          [
            {
              "node": "Wrap result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "Resolve dot notation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wrap result": {
        "main": [
          []
        ]
      },
      "Notes repo": {
        "main": [
          [
            {
              "node": "Wrap result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodes": [
      {
        "parameters": {
          "jsCode": "function isPrimitiveLike(value) {\n  return (\n    value === null ||\n    ['string', 'number', 'boolean'].includes(typeof value)\n  );\n}\n\nfunction shouldUnwrapArray(value) {\n  return (\n    Array.isArray(value) &&\n    value.length === 1 &&\n    value.every(isPrimitiveLike)\n  );\n}\n\nfunction normalisePostedValue(value) {\n  // Step 1: unwrap single-item primitive arrays\n  if (shouldUnwrapArray(value)) {\n    value = value[0];\n  }\n\n  // Step 2: boolean coercion (only for strings)\n  if (typeof value === 'string') {\n    const v = value.trim().toLowerCase();\n\n    if (v === 'true') return true;\n    if (v === 'false') return false;\n  }\n\n  return value;\n}\n\nfunction setDeep(obj, path, value) {\n  const parts = String(path).split('.').filter(Boolean);\n  let cur = obj;\n\n  for (let i = 0; i < parts.length; i++) {\n    const key = parts[i];\n    const isLast = i === parts.length - 1;\n\n    if (isLast) {\n      const incoming = normalisePostedValue(value);\n\n      if (Object.prototype.hasOwnProperty.call(cur, key)) {\n        cur[key] = Array.isArray(cur[key])\n          ? [...cur[key], incoming]\n          : [cur[key], incoming];\n      } else {\n        cur[key] = incoming;\n      }\n    } else {\n      if (cur[key] == null || typeof cur[key] !== 'object' || Array.isArray(cur[key])) {\n        cur[key] = {};\n      }\n      cur = cur[key];\n    }\n  }\n}\n\nfunction dedotObject(src) {\n  const out = {};\n  for (const [k, v] of Object.entries(src ?? {})) {\n    if (k.includes('.')) setDeep(out, k, v);\n    else out[k] = normalisePostedValue(v);\n  }\n  return out;\n}\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json?.body ?? {};\n  const newBody = dedotObject(body);\n\n  return {\n    json: {\n      ...item.json,\n      body: newBody,\n    },\n    binary: {\n      ...item.binary\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          -848
        ],
        "id": "1e3499a3-bcd1-445b-8f67-f5ef7b45350c",
        "name": "Resolve dot notation"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "7GnSWkz7nyJh-HH5OQ_SE",
            "mode": "list",
            "cachedResultUrl": "/workflow/7GnSWkz7nyJh-HH5OQ_SE",
            "cachedResultName": "WfD Shared Project — Higgins: Job repo"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "job": "={{ $json.body.job }}",
              "jobNumber": "={{ $json.body.job.JobNumber }}"
            },
            "matchingColumns": [
              "jobNumber"
            ],
            "schema": [
              {
                "id": "jobNumber",
                "displayName": "jobNumber",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "job",
                "displayName": "job",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          384,
          -1040
        ],
        "id": "ada768e8-93e9-4ccc-a0fe-4673dbb5f03c",
        "name": "Job repo"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.FormType }}",
                      "rightValue": "job",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "de1671b7-18e9-4578-bfbc-86127792ae1a"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "JOB"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "e782619a-e6d9-4482-b0dd-6ccf62f38350",
                      "leftValue": "={{ $json.body.FormType }}",
                      "rightValue": "quote",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "QUOTE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d8dc30ba-d25a-4106-b4bc-6fd38ba9e5cc",
                      "leftValue": "={{ $json.body.FormType }}",
                      "rightValue": "note",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "NOTE"
              }
            ]
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          160,
          -864
        ],
        "id": "8076ea48-5eb4-445e-90b3-cdd45393af06",
        "name": "Switch input"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "PTctqm1SXHmg8N8N",
            "mode": "list",
            "cachedResultUrl": "/workflow/PTctqm1SXHmg8N8N",
            "cachedResultName": "WfD Shared Project — Higgins: Quote repo"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "jobNumber": "={{ $json.body.quote.JobNumber }}",
              "quote": "={{ $json.body.quote }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "jobNumber",
                "displayName": "jobNumber",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "quote",
                "displayName": "quote",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          384,
          -848
        ],
        "id": "4f523b9f-6673-4ab3-96f0-54f30d1e27fb",
        "name": "Quote repo"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "8f1e2432-9138-46a2-bae5-8ef973babd78",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -288,
          -848
        ]
      },
      {
        "parameters": {
          "jsCode": "// Grab the HTTP payload item\nconst item = $('Start').first().json;\n\n// Clone query object and normalise method\nconst query = {\n  ...(item.query || {}),\n  method: \"POST\"\n};\n\nfunction toQueryString(obj = {}) {\n  return Object.entries(obj)\n    .map(([k, v]) =>\n      `${encodeURIComponent(k)}=${encodeURIComponent(v)}`\n    )\n    .join(\"&\");\n}\n\nconst qs = toQueryString(query);\nconst queryString = qs ? `?${qs}` : \"\";\n\nconst returnTo = `${item.webhookUrl}${queryString}`;\n\nreturn [\n  {\n    json: {\n      FormType: $('Start').first().json.body?.FormType,\n      query,\n      result: $input.first().json,\n      statusCode: 302,\n      headers: {\n        Location: returnTo\n      }\n    }\n  }\n];\n\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          -848
        ],
        "id": "b4a49435-aca8-4a59-b849-35f39a5eacf9",
        "name": "Wrap result"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "JtQxTi1zlBhHit58",
            "mode": "list",
            "cachedResultUrl": "/workflow/JtQxTi1zlBhHit58",
            "cachedResultName": "WfD Shared Project — Higgins: Notes repo"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "jobNumber": "={{ $json.body.notes.JobNumber }}",
              "note": "={{ $json.body.notes }}",
              "binary": "={{ $binary }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "jobNumber",
                "displayName": "jobNumber",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "note",
                "displayName": "note",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "binary",
                "displayName": "binary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          384,
          -656
        ],
        "id": "1b568add-b75b-4e08-93f8-367a36f74b96",
        "name": "Notes repo"
      }
    ],
    "activeVersion": {
      "nodes": [
        {
          "parameters": {
            "jsCode": "function isPrimitiveLike(value) {\n  return (\n    value === null ||\n    ['string', 'number', 'boolean'].includes(typeof value)\n  );\n}\n\nfunction shouldUnwrapArray(value) {\n  return (\n    Array.isArray(value) &&\n    value.length === 1 &&\n    value.every(isPrimitiveLike)\n  );\n}\n\nfunction normalisePostedValue(value) {\n  // Step 1: unwrap single-item primitive arrays\n  if (shouldUnwrapArray(value)) {\n    value = value[0];\n  }\n\n  // Step 2: boolean coercion (only for strings)\n  if (typeof value === 'string') {\n    const v = value.trim().toLowerCase();\n\n    if (v === 'true') return true;\n    if (v === 'false') return false;\n  }\n\n  return value;\n}\n\nfunction setDeep(obj, path, value) {\n  const parts = String(path).split('.').filter(Boolean);\n  let cur = obj;\n\n  for (let i = 0; i < parts.length; i++) {\n    const key = parts[i];\n    const isLast = i === parts.length - 1;\n\n    if (isLast) {\n      const incoming = normalisePostedValue(value);\n\n      if (Object.prototype.hasOwnProperty.call(cur, key)) {\n        cur[key] = Array.isArray(cur[key])\n          ? [...cur[key], incoming]\n          : [cur[key], incoming];\n      } else {\n        cur[key] = incoming;\n      }\n    } else {\n      if (cur[key] == null || typeof cur[key] !== 'object' || Array.isArray(cur[key])) {\n        cur[key] = {};\n      }\n      cur = cur[key];\n    }\n  }\n}\n\nfunction dedotObject(src) {\n  const out = {};\n  for (const [k, v] of Object.entries(src ?? {})) {\n    if (k.includes('.')) setDeep(out, k, v);\n    else out[k] = normalisePostedValue(v);\n  }\n  return out;\n}\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json?.body ?? {};\n  const newBody = dedotObject(body);\n\n  return {\n    json: {\n      ...item.json,\n      body: newBody,\n    },\n    binary: {\n      ...item.binary\n    }\n  };\n});"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -64,
            -848
          ],
          "id": "1e3499a3-bcd1-445b-8f67-f5ef7b45350c",
          "name": "Resolve dot notation"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "7GnSWkz7nyJh-HH5OQ_SE",
              "mode": "list",
              "cachedResultUrl": "/workflow/7GnSWkz7nyJh-HH5OQ_SE",
              "cachedResultName": "WfD Shared Project — Higgins: Job repo"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "job": "={{ $json.body.job }}",
                "jobNumber": "={{ $json.body.job.JobNumber }}"
              },
              "matchingColumns": [
                "jobNumber"
              ],
              "schema": [
                {
                  "id": "jobNumber",
                  "displayName": "jobNumber",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "id",
                  "displayName": "id",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": true
                },
                {
                  "id": "job",
                  "displayName": "job",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "object",
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "mode": "each",
            "options": {
              "waitForSubWorkflow": true
            }
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            384,
            -1040
          ],
          "id": "ada768e8-93e9-4ccc-a0fe-4673dbb5f03c",
          "name": "Job repo"
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": false,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.body.FormType }}",
                        "rightValue": "job",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "id": "de1671b7-18e9-4578-bfbc-86127792ae1a"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "JOB"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": false,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "e782619a-e6d9-4482-b0dd-6ccf62f38350",
                        "leftValue": "={{ $json.body.FormType }}",
                        "rightValue": "quote",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "QUOTE"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": false,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "d8dc30ba-d25a-4106-b4bc-6fd38ba9e5cc",
                        "leftValue": "={{ $json.body.FormType }}",
                        "rightValue": "note",
                        "operator": {
                          "type": "string",
                          "operation": "equals",
                          "name": "filter.operator.equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "NOTE"
                }
              ]
            },
            "options": {
              "ignoreCase": true
            }
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.4,
          "position": [
            160,
            -864
          ],
          "id": "8076ea48-5eb4-445e-90b3-cdd45393af06",
          "name": "Switch input"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "PTctqm1SXHmg8N8N",
              "mode": "list",
              "cachedResultUrl": "/workflow/PTctqm1SXHmg8N8N",
              "cachedResultName": "WfD Shared Project — Higgins: Quote repo"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "jobNumber": "={{ $json.body.quote.JobNumber }}",
                "quote": "={{ $json.body.quote }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "jobNumber",
                  "displayName": "jobNumber",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "quote",
                  "displayName": "quote",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "object",
                  "removed": false
                },
                {
                  "id": "id",
                  "displayName": "id",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": true
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {
              "waitForSubWorkflow": true
            }
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            384,
            -848
          ],
          "id": "4f523b9f-6673-4ab3-96f0-54f30d1e27fb",
          "name": "Quote repo"
        },
        {
          "parameters": {
            "inputSource": "passthrough"
          },
          "id": "8f1e2432-9138-46a2-bae5-8ef973babd78",
          "typeVersion": 1.1,
          "name": "Start",
          "type": "n8n-nodes-base.executeWorkflowTrigger",
          "position": [
            -288,
            -848
          ]
        },
        {
          "parameters": {
            "jsCode": "// Grab the HTTP payload item\nconst item = $('Start').first().json;\n\n// Clone query object and normalise method\nconst query = {\n  ...(item.query || {}),\n  method: \"POST\"\n};\n\nfunction toQueryString(obj = {}) {\n  return Object.entries(obj)\n    .map(([k, v]) =>\n      `${encodeURIComponent(k)}=${encodeURIComponent(v)}`\n    )\n    .join(\"&\");\n}\n\nconst qs = toQueryString(query);\nconst queryString = qs ? `?${qs}` : \"\";\n\nconst returnTo = `${item.webhookUrl}${queryString}`;\n\nreturn [\n  {\n    json: {\n      FormType: $('Start').first().json.body?.FormType,\n      query,\n      result: $input.first().json,\n      statusCode: 302,\n      headers: {\n        Location: returnTo\n      }\n    }\n  }\n];\n\n\n"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            608,
            -848
          ],
          "id": "b4a49435-aca8-4a59-b849-35f39a5eacf9",
          "name": "Wrap result"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "JtQxTi1zlBhHit58",
              "mode": "list",
              "cachedResultUrl": "/workflow/JtQxTi1zlBhHit58",
              "cachedResultName": "WfD Shared Project — Higgins: Notes repo"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "jobNumber": "={{ $json.body.notes.JobNumber }}",
                "note": "={{ $json.body.notes }}",
                "binary": "={{ $binary }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "jobNumber",
                  "displayName": "jobNumber",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "note",
                  "displayName": "note",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "object",
                  "removed": false
                },
                {
                  "id": "id",
                  "displayName": "id",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": true
                },
                {
                  "id": "binary",
                  "displayName": "binary",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "object",
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            384,
            -656
          ],
          "id": "1b568add-b75b-4e08-93f8-367a36f74b96",
          "name": "Notes repo"
        }
      ],
      "connections": {
        "Resolve dot notation": {
          "main": [
            [
              {
                "node": "Switch input",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Job repo": {
          "main": [
            [
              {
                "node": "Wrap result",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch input": {
          "main": [
            [
              {
                "node": "Job repo",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Quote repo",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Notes repo",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Quote repo": {
          "main": [
            [
              {
                "node": "Wrap result",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Start": {
          "main": [
            [
              {
                "node": "Resolve dot notation",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Wrap result": {
          "main": [
            []
          ]
        },
        "Notes repo": {
          "main": [
            [
              {
                "node": "Wrap result",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "tags": [],
    "meta": null,
    "parentFolderId": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:publish",
      "workflow:read",
      "workflow:share",
      "workflow:unpublish",
      "workflow:unshare",
      "workflow:update",
      "workflow:updateRedactionSetting"
    ],
    "canExecute": true
  },
  "triggerInfo": "This workflow has no production triggers (Schedule, Webhook, Form, or Chat). It can only be executed in manual mode."
}
