subflows/20 - y1r7Zn5qxw9h7nKw - Higgins - List attached files.json
{
  "workflow": {
    "id": "y1r7Zn5qxw9h7nKw",
    "name": "Higgins: List attached files",
    "active": true,
    "isArchived": false,
    "versionId": "635f5c90-e1ff-462c-a5f7-7b6389889bf8",
    "activeVersionId": "635f5c90-e1ff-462c-a5f7-7b6389889bf8",
    "triggerCount": 0,
    "createdAt": "2026-03-24T14:20:34.216Z",
    "updatedAt": "2026-04-03T16:22:50.288Z",
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true
    },
    "connections": {
      "Call 'Higgins: _Sharepoint Defaults'": {
        "main": [
          [
            {
              "node": "Call 'Higgins: SP folder delta'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get job": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wrap job": {
        "main": [
          [
            {
              "node": "Update job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Parse SpFilesJson",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update job": {
        "main": [
          []
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "Get job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse SpFilesJson": {
        "main": [
          [
            {
              "node": "Call 'Higgins: _Sharepoint Defaults'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Higgins: SP folder delta'": {
        "main": [
          [
            {
              "node": "Wrap job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Dkd3fVOs3tYMZHkk",
            "mode": "list",
            "cachedResultUrl": "/workflow/Dkd3fVOs3tYMZHkk",
            "cachedResultName": "WfD Shared Project — Higgins: _Sharepoint Defaults"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          896,
          -592
        ],
        "id": "fce8ca18-713d-474e-a92c-63dd5e53020a",
        "name": "Call 'Higgins: _Sharepoint Defaults'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "7GnSWkz7nyJh-HH5OQ_SE",
            "mode": "list",
            "cachedResultUrl": "/workflow/7GnSWkz7nyJh-HH5OQ_SE",
            "cachedResultName": "WfD Shared Project — Higgins: Job repo"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "job": "={{ $json.job }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "jobNumber",
                "displayName": "jobNumber",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "job",
                "displayName": "job",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "include",
                "displayName": "include",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1568,
          -592
        ],
        "id": "f030baea-e9a2-48af-b882-51af56120cc3",
        "name": "Update job"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "7GnSWkz7nyJh-HH5OQ_SE",
            "mode": "list",
            "cachedResultUrl": "/workflow/7GnSWkz7nyJh-HH5OQ_SE",
            "cachedResultName": "WfD Shared Project — Higgins: Job repo"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "jobNumber": "={{ $json.JobNumber }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "jobNumber",
                "displayName": "jobNumber",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "job",
                "displayName": "job",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              },
              {
                "id": "include",
                "displayName": "include",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          224,
          -496
        ],
        "id": "3fdda4f4-3f6b-4e67-884d-97cc6d80a9c4",
        "name": "Get job"
      },
      {
        "parameters": {
          "jsCode": "const job = $('Get job').first().json.job;\nconst delta = $input.first().json['@odata.deltaLink'];\nconst filesJson = JSON.stringify($input.first().json);\n\nreturn {\n  json: {\n    job: {\n      ...job,\n      SpFilesJson: filesJson\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          -592
        ],
        "id": "406fd028-129a-422e-89dc-54a026b08d13",
        "name": "Wrap job"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "9495cc3f-e7ef-4fc6-b13d-8a3d51cdc5d2",
                "leftValue": "={{ $('Start').item.json.ForceUpdate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              },
              {
                "id": "113a57e8-0246-4aa9-96f9-1ed60841f125",
                "leftValue": "={{ $json.job.SpFilesId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          -496
        ],
        "id": "5e733920-576d-4725-adf4-91c691683ce8",
        "name": "If"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "JobNumber"
              },
              {
                "name": "ForceUpdate",
                "type": "boolean"
              },
              {
                "name": "ForceReset"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          -496
        ],
        "id": "d9058161-a807-47f4-8b0c-b28f0f050c23",
        "name": "Start"
      },
      {
        "parameters": {
          "jsCode": "function safeParseJson(str) {\n  if (!str || typeof str !== \"string\") return null;\n  try {\n    return JSON.parse(str);\n  } catch {\n    return null;\n  }\n}\n\nconst forceUpdate = $('Start').first().json.ForceUpdate;\nconst forceReset = $('Start').first().json.ForceReset;\n\nconst input = $input.first().json;\nconst filesInfo = forceReset ? {} : safeParseJson(input.job.SpFilesJson);\n\nreturn [{\n  json: {\n    ForceUpdate: forceUpdate,\n    ForceReset: forceReset,\n    previous: filesInfo,\n    ...input\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          -592
        ],
        "id": "4881290c-e4f9-4f39-8a20-6d5561a18228",
        "name": "Parse SpFilesJson"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Qwh1Atmshy4JjM2P",
            "mode": "list",
            "cachedResultUrl": "/workflow/Qwh1Atmshy4JjM2P",
            "cachedResultName": "WfD Shared Project — Higgins: SP fetch folder delta"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "FolderId": "={{ $json.job.SpFilesId }}",
              "DriveId": "={{ $json.n8n_sharepoint.driveId }}",
              "Previous": "={{ $json.previous }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "DriveId",
                "displayName": "DriveId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "FolderId",
                "displayName": "FolderId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "Previous",
                "displayName": "Previous",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1120,
          -592
        ],
        "id": "ad0b99fd-9a93-4e6c-a8f9-fa0ff5ef9185",
        "name": "Call 'Higgins: SP folder delta'"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          672,
          -400
        ],
        "id": "235ec73d-29fb-4c74-a7df-4e000099f917",
        "name": "Return job"
      }
    ],
    "activeVersion": {
      "nodes": [
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "Dkd3fVOs3tYMZHkk",
              "mode": "list",
              "cachedResultUrl": "/workflow/Dkd3fVOs3tYMZHkk",
              "cachedResultName": "WfD Shared Project — Higgins: _Sharepoint Defaults"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            896,
            -592
          ],
          "id": "fce8ca18-713d-474e-a92c-63dd5e53020a",
          "name": "Call 'Higgins: _Sharepoint Defaults'"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "7GnSWkz7nyJh-HH5OQ_SE",
              "mode": "list",
              "cachedResultUrl": "/workflow/7GnSWkz7nyJh-HH5OQ_SE",
              "cachedResultName": "WfD Shared Project — Higgins: Job repo"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "job": "={{ $json.job }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "jobNumber",
                  "displayName": "jobNumber",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": true
                },
                {
                  "id": "job",
                  "displayName": "job",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "object",
                  "removed": false
                },
                {
                  "id": "include",
                  "displayName": "include",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": true
                },
                {
                  "id": "id",
                  "displayName": "id",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": true
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            1568,
            -592
          ],
          "id": "f030baea-e9a2-48af-b882-51af56120cc3",
          "name": "Update job"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "7GnSWkz7nyJh-HH5OQ_SE",
              "mode": "list",
              "cachedResultUrl": "/workflow/7GnSWkz7nyJh-HH5OQ_SE",
              "cachedResultName": "WfD Shared Project — Higgins: Job repo"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "jobNumber": "={{ $json.JobNumber }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "jobNumber",
                  "displayName": "jobNumber",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "job",
                  "displayName": "job",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "object",
                  "removed": true
                },
                {
                  "id": "include",
                  "displayName": "include",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": true
                },
                {
                  "id": "id",
                  "displayName": "id",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": true
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            224,
            -496
          ],
          "id": "3fdda4f4-3f6b-4e67-884d-97cc6d80a9c4",
          "name": "Get job"
        },
        {
          "parameters": {
            "jsCode": "const job = $('Get job').first().json.job;\nconst delta = $input.first().json['@odata.deltaLink'];\nconst filesJson = JSON.stringify($input.first().json);\n\nreturn {\n  json: {\n    job: {\n      ...job,\n      SpFilesJson: filesJson\n    }\n  }\n};"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1344,
            -592
          ],
          "id": "406fd028-129a-422e-89dc-54a026b08d13",
          "name": "Wrap job"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "9495cc3f-e7ef-4fc6-b13d-8a3d51cdc5d2",
                  "leftValue": "={{ $('Start').item.json.ForceUpdate }}",
                  "rightValue": true,
                  "operator": {
                    "type": "boolean",
                    "operation": "equals"
                  }
                },
                {
                  "id": "113a57e8-0246-4aa9-96f9-1ed60841f125",
                  "leftValue": "={{ $json.job.SpFilesId }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "notEmpty",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            448,
            -496
          ],
          "id": "5e733920-576d-4725-adf4-91c691683ce8",
          "name": "If"
        },
        {
          "parameters": {
            "workflowInputs": {
              "values": [
                {
                  "name": "JobNumber"
                },
                {
                  "name": "ForceUpdate",
                  "type": "boolean"
                },
                {
                  "name": "ForceReset"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.executeWorkflowTrigger",
          "typeVersion": 1.1,
          "position": [
            0,
            -496
          ],
          "id": "d9058161-a807-47f4-8b0c-b28f0f050c23",
          "name": "Start"
        },
        {
          "parameters": {
            "jsCode": "function safeParseJson(str) {\n  if (!str || typeof str !== \"string\") return null;\n  try {\n    return JSON.parse(str);\n  } catch {\n    return null;\n  }\n}\n\nconst forceUpdate = $('Start').first().json.ForceUpdate;\nconst forceReset = $('Start').first().json.ForceReset;\n\nconst input = $input.first().json;\nconst filesInfo = forceReset ? {} : safeParseJson(input.job.SpFilesJson);\n\nreturn [{\n  json: {\n    ForceUpdate: forceUpdate,\n    ForceReset: forceReset,\n    previous: filesInfo,\n    ...input\n  }\n}];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            672,
            -592
          ],
          "id": "4881290c-e4f9-4f39-8a20-6d5561a18228",
          "name": "Parse SpFilesJson"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "Qwh1Atmshy4JjM2P",
              "mode": "list",
              "cachedResultUrl": "/workflow/Qwh1Atmshy4JjM2P",
              "cachedResultName": "WfD Shared Project — Higgins: SP fetch folder delta"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "FolderId": "={{ $json.job.SpFilesId }}",
                "DriveId": "={{ $json.n8n_sharepoint.driveId }}",
                "Previous": "={{ $json.previous }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "DriveId",
                  "displayName": "DriveId",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "FolderId",
                  "displayName": "FolderId",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "Previous",
                  "displayName": "Previous",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "object",
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            1120,
            -592
          ],
          "id": "ad0b99fd-9a93-4e6c-a8f9-fa0ff5ef9185",
          "name": "Call 'Higgins: SP folder delta'"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            672,
            -400
          ],
          "id": "235ec73d-29fb-4c74-a7df-4e000099f917",
          "name": "Return job"
        }
      ],
      "connections": {
        "Call 'Higgins: _Sharepoint Defaults'": {
          "main": [
            [
              {
                "node": "Call 'Higgins: SP folder delta'",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get job": {
          "main": [
            [
              {
                "node": "If",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Wrap job": {
          "main": [
            [
              {
                "node": "Update job",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "If": {
          "main": [
            [
              {
                "node": "Parse SpFilesJson",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Return job",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Update job": {
          "main": [
            []
          ]
        },
        "Start": {
          "main": [
            [
              {
                "node": "Get job",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parse SpFilesJson": {
          "main": [
            [
              {
                "node": "Call 'Higgins: _Sharepoint Defaults'",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Call 'Higgins: SP folder delta'": {
          "main": [
            [
              {
                "node": "Wrap job",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "tags": [],
    "meta": null,
    "parentFolderId": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:publish",
      "workflow:read",
      "workflow:share",
      "workflow:unpublish",
      "workflow:unshare",
      "workflow:update",
      "workflow:updateRedactionSetting"
    ],
    "canExecute": true
  },
  "triggerInfo": "This workflow has no production triggers (Schedule, Webhook, Form, or Chat). It can only be executed in manual mode."
}
