subflows/26 - PTctqm1SXHmg8N8N - Higgins - Quote repo.json
{
  "workflow": {
    "id": "PTctqm1SXHmg8N8N",
    "name": "Higgins: Quote repo",
    "active": true,
    "isArchived": false,
    "versionId": "0702873e-4462-4dae-b389-349f7a27b185",
    "activeVersionId": "0702873e-4462-4dae-b389-349f7a27b185",
    "triggerCount": 0,
    "createdAt": "2026-03-11T17:31:37.7Z",
    "updatedAt": "2026-04-03T16:21:48.504Z",
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true,
      "binaryMode": "separate"
    },
    "connections": {
      "Switch": {
        "main": [
          [
            {
              "node": "Call 'Higgins: Quote update'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get a job item",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get many job items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a job item": {
        "main": [
          [
            {
              "node": "Sp Defaults",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many job items": {
        "main": [
          [
            {
              "node": "Sp Defaults",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "EntryPoint": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Higgins: Quote update'": {
        "main": [
          [
            {
              "node": "Sp Defaults",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wrap quote": {
        "main": [
          []
        ]
      },
      "Sp Defaults": {
        "main": [
          [
            {
              "node": "Wrap quote",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.quote }}",
                      "rightValue": "",
                      "operator": {
                        "type": "object",
                        "operation": "notEmpty",
                        "singleValue": true
                      },
                      "id": "0fd1f538-abe6-4cc5-af2a-040d197c3d63"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "SAVE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "65f7025d-fad0-43e4-b431-b87fb83a7739",
                      "leftValue": "={{ $json.id }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "notEmpty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "GETBYID"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          224,
          -848
        ],
        "id": "47f27279-96a2-4032-87b4-33c34a3844a4",
        "name": "Switch"
      },
      {
        "parameters": {
          "resource": "item",
          "operation": "get",
          "site": {
            "__rl": true,
            "value": "higginslettings.sharepoint.com,4ecae6d0-0cab-4509-9312-226c51c8145c,3dc719bd-7125-4ef4-8700-4e90ab9e81e1",
            "mode": "list",
            "cachedResultName": "Workflows"
          },
          "list": {
            "__rl": true,
            "value": "3ce960bc-e246-483f-ae86-069bf240735a",
            "mode": "list",
            "cachedResultName": "LISA - Quotes"
          },
          "item": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "simplify": false,
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.microsoftSharePoint",
        "typeVersion": 1,
        "position": [
          448,
          -832
        ],
        "id": "d72ced45-dc55-4291-af61-48d94dd2c3f0",
        "name": "Get a job item"
      },
      {
        "parameters": {
          "resource": "item",
          "site": {
            "__rl": true,
            "value": "higginslettings.sharepoint.com,4ecae6d0-0cab-4509-9312-226c51c8145c,3dc719bd-7125-4ef4-8700-4e90ab9e81e1",
            "mode": "list",
            "cachedResultName": "Workflows"
          },
          "list": {
            "__rl": true,
            "value": "3ce960bc-e246-483f-ae86-069bf240735a",
            "mode": "list",
            "cachedResultName": "LISA - Quotes"
          },
          "filter": "=fields/Title eq '{{ $json.jobNumber }}'",
          "options": {
            "fields": [
              "fields"
            ]
          },
          "simplify": false,
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.microsoftSharePoint",
        "typeVersion": 1,
        "position": [
          448,
          -640
        ],
        "id": "cd56a4d5-1293-40ea-89ee-5f978b3ef53c",
        "name": "Get many job items"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "jobNumber"
              },
              {
                "name": "quote",
                "type": "object"
              },
              {
                "name": "id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          -832
        ],
        "id": "6b83f7cb-3fc0-409c-a69c-78f4c988d982",
        "name": "EntryPoint"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "wysfpzLWxLP2WhwF",
            "mode": "list",
            "cachedResultUrl": "/workflow/wysfpzLWxLP2WhwF",
            "cachedResultName": "WfD Shared Project — Higgins: Quote update"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          448,
          -1024
        ],
        "id": "f1095678-5538-4e4d-9a33-6fb2ec951ee9",
        "name": "Call 'Higgins: Quote update'"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Keep only these SharePoint field names\nconst objectType = \"quote\";\nconst keepFields = $('Sp Defaults').item.json.n8n_sharepoint.lists[objectType].fields;\n\nconst fields = $json?.fields ?? $json;\nconst ID = $json.id || $json.ID;\nconst JobNumber = fields.Title;\n\nconst item = Object.fromEntries(\n  Object.entries(fields).filter(([k]) => keepFields.includes(k))\n);\n\nreturn {\n  json: {\n    [objectType]: {\n      ID,\n      JobNumber,\n      ...item\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          896,
          -832
        ],
        "id": "652ad1d0-49ac-472e-9de5-b98412ad85a0",
        "name": "Wrap quote"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Dkd3fVOs3tYMZHkk",
            "mode": "list",
            "cachedResultUrl": "/workflow/Dkd3fVOs3tYMZHkk",
            "cachedResultName": "WfD Shared Project — Higgins: _Sharepoint Defaults"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          672,
          -832
        ],
        "id": "057b3773-21b3-4f10-b827-43bd1093ef59",
        "name": "Sp Defaults"
      }
    ],
    "activeVersion": {
      "nodes": [
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.quote }}",
                        "rightValue": "",
                        "operator": {
                          "type": "object",
                          "operation": "notEmpty",
                          "singleValue": true
                        },
                        "id": "0fd1f538-abe6-4cc5-af2a-040d197c3d63"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "SAVE"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "65f7025d-fad0-43e4-b431-b87fb83a7739",
                        "leftValue": "={{ $json.id }}",
                        "rightValue": "",
                        "operator": {
                          "type": "string",
                          "operation": "notEmpty",
                          "singleValue": true
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "GETBYID"
                }
              ]
            },
            "options": {
              "fallbackOutput": "extra"
            }
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.4,
          "position": [
            224,
            -848
          ],
          "id": "47f27279-96a2-4032-87b4-33c34a3844a4",
          "name": "Switch"
        },
        {
          "parameters": {
            "resource": "item",
            "operation": "get",
            "site": {
              "__rl": true,
              "value": "higginslettings.sharepoint.com,4ecae6d0-0cab-4509-9312-226c51c8145c,3dc719bd-7125-4ef4-8700-4e90ab9e81e1",
              "mode": "list",
              "cachedResultName": "Workflows"
            },
            "list": {
              "__rl": true,
              "value": "3ce960bc-e246-483f-ae86-069bf240735a",
              "mode": "list",
              "cachedResultName": "LISA - Quotes"
            },
            "item": {
              "__rl": true,
              "value": "={{ $json.id }}",
              "mode": "id"
            },
            "simplify": false,
            "requestOptions": {}
          },
          "type": "n8n-nodes-base.microsoftSharePoint",
          "typeVersion": 1,
          "position": [
            448,
            -832
          ],
          "id": "d72ced45-dc55-4291-af61-48d94dd2c3f0",
          "name": "Get a job item"
        },
        {
          "parameters": {
            "resource": "item",
            "site": {
              "__rl": true,
              "value": "higginslettings.sharepoint.com,4ecae6d0-0cab-4509-9312-226c51c8145c,3dc719bd-7125-4ef4-8700-4e90ab9e81e1",
              "mode": "list",
              "cachedResultName": "Workflows"
            },
            "list": {
              "__rl": true,
              "value": "3ce960bc-e246-483f-ae86-069bf240735a",
              "mode": "list",
              "cachedResultName": "LISA - Quotes"
            },
            "filter": "=fields/Title eq '{{ $json.jobNumber }}'",
            "options": {
              "fields": [
                "fields"
              ]
            },
            "simplify": false,
            "requestOptions": {}
          },
          "type": "n8n-nodes-base.microsoftSharePoint",
          "typeVersion": 1,
          "position": [
            448,
            -640
          ],
          "id": "cd56a4d5-1293-40ea-89ee-5f978b3ef53c",
          "name": "Get many job items"
        },
        {
          "parameters": {
            "workflowInputs": {
              "values": [
                {
                  "name": "jobNumber"
                },
                {
                  "name": "quote",
                  "type": "object"
                },
                {
                  "name": "id"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.executeWorkflowTrigger",
          "typeVersion": 1.1,
          "position": [
            0,
            -832
          ],
          "id": "6b83f7cb-3fc0-409c-a69c-78f4c988d982",
          "name": "EntryPoint"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "wysfpzLWxLP2WhwF",
              "mode": "list",
              "cachedResultUrl": "/workflow/wysfpzLWxLP2WhwF",
              "cachedResultName": "WfD Shared Project — Higgins: Quote update"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            448,
            -1024
          ],
          "id": "f1095678-5538-4e4d-9a33-6fb2ec951ee9",
          "name": "Call 'Higgins: Quote update'"
        },
        {
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "// Keep only these SharePoint field names\nconst objectType = \"quote\";\nconst keepFields = $('Sp Defaults').item.json.n8n_sharepoint.lists[objectType].fields;\n\nconst fields = $json?.fields ?? $json;\nconst ID = $json.id || $json.ID;\nconst JobNumber = fields.Title;\n\nconst item = Object.fromEntries(\n  Object.entries(fields).filter(([k]) => keepFields.includes(k))\n);\n\nreturn {\n  json: {\n    [objectType]: {\n      ID,\n      JobNumber,\n      ...item\n    }\n  }\n};"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            896,
            -832
          ],
          "id": "652ad1d0-49ac-472e-9de5-b98412ad85a0",
          "name": "Wrap quote"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "Dkd3fVOs3tYMZHkk",
              "mode": "list",
              "cachedResultUrl": "/workflow/Dkd3fVOs3tYMZHkk",
              "cachedResultName": "WfD Shared Project — Higgins: _Sharepoint Defaults"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            672,
            -832
          ],
          "id": "057b3773-21b3-4f10-b827-43bd1093ef59",
          "name": "Sp Defaults"
        }
      ],
      "connections": {
        "Switch": {
          "main": [
            [
              {
                "node": "Call 'Higgins: Quote update'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Get a job item",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Get many job items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get a job item": {
          "main": [
            [
              {
                "node": "Sp Defaults",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get many job items": {
          "main": [
            [
              {
                "node": "Sp Defaults",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "EntryPoint": {
          "main": [
            [
              {
                "node": "Switch",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Call 'Higgins: Quote update'": {
          "main": [
            [
              {
                "node": "Sp Defaults",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Wrap quote": {
          "main": [
            []
          ]
        },
        "Sp Defaults": {
          "main": [
            [
              {
                "node": "Wrap quote",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "tags": [],
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "parentFolderId": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:publish",
      "workflow:read",
      "workflow:share",
      "workflow:unpublish",
      "workflow:unshare",
      "workflow:update",
      "workflow:updateRedactionSetting"
    ],
    "canExecute": true
  },
  "triggerInfo": "This workflow has no production triggers (Schedule, Webhook, Form, or Chat). It can only be executed in manual mode."
}
