subflows/27 - wysfpzLWxLP2WhwF - Higgins - Quote update.json
{
  "workflow": {
    "id": "wysfpzLWxLP2WhwF",
    "name": "Higgins: Quote update",
    "active": true,
    "isArchived": false,
    "versionId": "caf59b22-b8b0-42a8-b555-822ee7330426",
    "activeVersionId": "caf59b22-b8b0-42a8-b555-822ee7330426",
    "triggerCount": 0,
    "createdAt": "2026-03-11T17:35:35.603Z",
    "updatedAt": "2026-04-03T16:21:55.353Z",
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true,
      "binaryMode": "separate"
    },
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "_Sharepoint Defaults1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Post",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Patch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wrap object": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "_Sharepoint Defaults1": {
        "main": [
          [
            {
              "node": "Wrap object",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Post": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Patch1": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "c1b01bff-e475-45a8-b3c0-b1d2e21a6fe3",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          240,
          -1136
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "2d403677-1e91-4b04-bfaf-877de6d06e64",
                "leftValue": "={{ $json.ID }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          912,
          -1136
        ],
        "id": "b938b5d6-8c0d-451e-8c66-605985685634",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1360,
          -1136
        ],
        "id": "d4af1b52-ba09-405d-939f-ab081d1de2ea",
        "name": "Return"
      },
      {
        "parameters": {
          "jsCode": "const objectType = \"quote\";\nconst item = $input.first().json;\nconst keepFields = item.n8n_sharepoint.lists[objectType].fields || [];\n\n// Pull out JobNumber, ID, and the dynamic object block if it exists\nlet { JobNumber, jobNumber, ID, [objectType]: objectData = {}, ...fields } = item;\n\n// Choose the source of truth\nconst source = Object.keys(objectData).length > 0 ? objectData : fields;\n\n// Get the ID if missing\nID = ID || source.ID || source.id;\nJobNumber = JobNumber || jobNumber || source.JobNumber || source.Title;\n\nconst fieldsToUpdate = { Title: JobNumber };\n\nfor (const [key, value] of Object.entries(source)) {\n  if (!keepFields.includes(key)) continue;\n\n  if (\n    value === undefined ||\n    value === null ||\n    value === '' ||\n    (Array.isArray(value) && value.length === 0)\n  ) continue;\n\n  fieldsToUpdate[key] = Array.isArray(value) ? value.join(',') : value;\n}\n\nreturn [{\n  json: {\n    objectType,\n    ID,\n    JobNumber,\n    [objectType]: objectData,\n    fields: fieldsToUpdate,\n    n8n_sharepoint: item.n8n_sharepoint\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          -1136
        ],
        "id": "604f2e8d-7f54-4596-876c-af86543abfc3",
        "name": "Wrap object"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Dkd3fVOs3tYMZHkk",
            "mode": "list",
            "cachedResultUrl": "/workflow/Dkd3fVOs3tYMZHkk",
            "cachedResultName": "WfD Shared Project — Higgins: _Sharepoint Defaults"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          464,
          -1136
        ],
        "id": "0513ff90-33aa-4605-8d64-82edbc8e62ee",
        "name": "_Sharepoint Defaults1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.n8n_sharepoint.siteId }}/lists/{{ $json.n8n_sharepoint.lists[$json.objectType].sharepointId }}/items",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({fields: $json.fields}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1136,
          -1232
        ],
        "id": "188bf20d-3411-467b-a2a4-0a96337e2577",
        "name": "HTTP Post",
        "notesInFlow": true,
        "notes": "Posting this way means the field list is dynamic. Any matching column will be saved."
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.n8n_sharepoint.siteId }}/lists/{{ $json.n8n_sharepoint.lists[$json.objectType].sharepointId }}/items/{{ $json.ID }}/fields",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify($json.fields) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1136,
          -1040
        ],
        "id": "828c920a-e823-41cc-9943-845c160ceaf2",
        "name": "HTTP Patch1",
        "notesInFlow": true,
        "notes": "Patching this way means the field list is dynamic. Any matching column will be saved."
      }
    ],
    "activeVersion": {
      "nodes": [
        {
          "parameters": {
            "inputSource": "passthrough"
          },
          "id": "c1b01bff-e475-45a8-b3c0-b1d2e21a6fe3",
          "typeVersion": 1.1,
          "name": "Start",
          "type": "n8n-nodes-base.executeWorkflowTrigger",
          "position": [
            240,
            -1136
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 3
              },
              "conditions": [
                {
                  "id": "2d403677-1e91-4b04-bfaf-877de6d06e64",
                  "leftValue": "={{ $json.ID }}",
                  "rightValue": "",
                  "operator": {
                    "type": "number",
                    "operation": "empty",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "looseTypeValidation": true,
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            912,
            -1136
          ],
          "id": "b938b5d6-8c0d-451e-8c66-605985685634",
          "name": "If"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            1360,
            -1136
          ],
          "id": "d4af1b52-ba09-405d-939f-ab081d1de2ea",
          "name": "Return"
        },
        {
          "parameters": {
            "jsCode": "const objectType = \"quote\";\nconst item = $input.first().json;\nconst keepFields = item.n8n_sharepoint.lists[objectType].fields || [];\n\n// Pull out JobNumber, ID, and the dynamic object block if it exists\nlet { JobNumber, jobNumber, ID, [objectType]: objectData = {}, ...fields } = item;\n\n// Choose the source of truth\nconst source = Object.keys(objectData).length > 0 ? objectData : fields;\n\n// Get the ID if missing\nID = ID || source.ID || source.id;\nJobNumber = JobNumber || jobNumber || source.JobNumber || source.Title;\n\nconst fieldsToUpdate = { Title: JobNumber };\n\nfor (const [key, value] of Object.entries(source)) {\n  if (!keepFields.includes(key)) continue;\n\n  if (\n    value === undefined ||\n    value === null ||\n    value === '' ||\n    (Array.isArray(value) && value.length === 0)\n  ) continue;\n\n  fieldsToUpdate[key] = Array.isArray(value) ? value.join(',') : value;\n}\n\nreturn [{\n  json: {\n    objectType,\n    ID,\n    JobNumber,\n    [objectType]: objectData,\n    fields: fieldsToUpdate,\n    n8n_sharepoint: item.n8n_sharepoint\n  }\n}];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            688,
            -1136
          ],
          "id": "604f2e8d-7f54-4596-876c-af86543abfc3",
          "name": "Wrap object"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "Dkd3fVOs3tYMZHkk",
              "mode": "list",
              "cachedResultUrl": "/workflow/Dkd3fVOs3tYMZHkk",
              "cachedResultName": "WfD Shared Project — Higgins: _Sharepoint Defaults"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            464,
            -1136
          ],
          "id": "0513ff90-33aa-4605-8d64-82edbc8e62ee",
          "name": "_Sharepoint Defaults1"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.n8n_sharepoint.siteId }}/lists/{{ $json.n8n_sharepoint.lists[$json.objectType].sharepointId }}/items",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "microsoftOutlookOAuth2Api",
            "sendBody": true,
            "contentType": "raw",
            "rawContentType": "application/json",
            "body": "={{ JSON.stringify({fields: $json.fields}) }}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            1136,
            -1232
          ],
          "id": "188bf20d-3411-467b-a2a4-0a96337e2577",
          "name": "HTTP Post",
          "notesInFlow": true,
          "notes": "Posting this way means the field list is dynamic. Any matching column will be saved."
        },
        {
          "parameters": {
            "method": "PATCH",
            "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.n8n_sharepoint.siteId }}/lists/{{ $json.n8n_sharepoint.lists[$json.objectType].sharepointId }}/items/{{ $json.ID }}/fields",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "microsoftOutlookOAuth2Api",
            "sendBody": true,
            "contentType": "raw",
            "rawContentType": "application/json",
            "body": "={{ JSON.stringify($json.fields) }}",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            1136,
            -1040
          ],
          "id": "828c920a-e823-41cc-9943-845c160ceaf2",
          "name": "HTTP Patch1",
          "notesInFlow": true,
          "notes": "Patching this way means the field list is dynamic. Any matching column will be saved."
        }
      ],
      "connections": {
        "Start": {
          "main": [
            [
              {
                "node": "_Sharepoint Defaults1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "If": {
          "main": [
            [
              {
                "node": "HTTP Post",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "HTTP Patch1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Wrap object": {
          "main": [
            [
              {
                "node": "If",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "_Sharepoint Defaults1": {
          "main": [
            [
              {
                "node": "Wrap object",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Post": {
          "main": [
            [
              {
                "node": "Return",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Patch1": {
          "main": [
            [
              {
                "node": "Return",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "tags": [],
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "parentFolderId": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:publish",
      "workflow:read",
      "workflow:share",
      "workflow:unpublish",
      "workflow:unshare",
      "workflow:update",
      "workflow:updateRedactionSetting"
    ],
    "canExecute": true
  },
  "triggerInfo": "This workflow has no production triggers (Schedule, Webhook, Form, or Chat). It can only be executed in manual mode."
}
